.unstyled-btn {
  color: #ccc;
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-form .form-control {
  border-radius: 24px;
}

/**/

#navbar-collapse .navbar-nav > li > .dropdown-menu {
   margin-top: 0;
   border-top-left-radius: 11px;
   border-top-right-radius: 11px;
}

#navBarUserImgProfile {
  padding-top: 0em;
  padding-bottom: 0em;
  height: 2em;
  width: 2em;
  /*border-color: rgba(0,0,0,0.4);*/
  /*border-width: 0.1em;*/
  border-style: solid;
  border-radius: 50%;
}

.navbar-fixed-top {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23)
}


#navbar-collapse .navbar-nav > li > a {
   padding-top: 10px;
   padding-bottom: 10px;
}

.navbar-collapse {
  background-color: #f8f8f8;
}

