<template name="authenticatedNavigation">

    <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="navBarUserImgProfile" src="{{currentUser.profile.profileImage}}"><span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
        <li class="{{currentRoute 'user-show'}}"><a href="/{{currentUser.profile.userSlug}}">My Profile</a></li>
        <li class="createDot"><a href="#">New Dot</a></li>
        <li class="createList"><a href="#">New List</a></li>
        <li class="{{currentRoute 'feed'}}"><a href="{{pathFor 'feed'}}">Feed</a></li>
        <li role="separator" class="divider"></li>
        <li class="editUserAccount"><a href="#">Edit Account</a></li>
        <li role="separator" class="divider"></li>
        <li class="logout"><a href="#">Logout</a></li>
        <!--</ul>-->
        <!--</li>-->
    </ul>

    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="navBarUserImgProfile" src="{{currentUser.profile.profileImage}}"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="{{currentRoute 'user-show'}}"><a href="/{{currentUser.profile.userSlug}}">My Profile</a></li>
                <li class="createDot"><a href="#">New Dot</a></li>
                <li class="createList"><a href="#">New List</a></li>
                <li class="{{currentRoute 'feed'}}"><a href="{{pathFor 'feed'}}">Feed</a></li>
                <li role="separator" class="divider"></li>
                <li class="editUserAccount"><a href="#">Edit Account</a></li>
                <li role="separator" class="divider"></li>
                <li class="logout"><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn unstyled-btn"><i class="fa fa-search mdTxt"></i></button>
    </form>


</template>
