<template name="authenticatedNavigation">


    <ul class="nav navbar-nav navbar-right visible-xs">
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="navBarUserImgProfile" src="{{currentUser.profile.profileImage}}"><span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
        <li data-toggle="collapse" data-target="#navbar-collapse" class="{{currentRoute 'user-show'}} navbar-menu-collapse"><a href="/{{currentUser.profile.userSlug}}">My Profile</a></li>
        <li data-toggle="collapse" data-target="#navbar-collapse" class="createDot"><a href="#">New Dot</a></li>
        <li data-toggle="collapse" data-target="#navbar-collapse" class="createList"><a href="#">New List</a></li>
        <li data-toggle="collapse" data-target="#navbar-collapse" class="{{currentRoute 'feed'}}"><a href="{{pathFor 'feed'}}">Feed</a></li>
        <li role="separator" class="divider"></li>
        <li data-toggle="collapse" data-target="#navbar-collapse" class="editUserAccount"><a href="#">Edit Account</a></li>
        <li role="separator" class="divider"></li>
        <li data-toggle="collapse" data-target="#navbar-collapse" class="logout"><a href="#">Logout</a></li>
        <!--</ul>-->
        <!--</li>-->
    </ul>

      <!--desktop view-->

    <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img id="navBarUserImgProfile" src="{{currentUser.profile.profileImage}}"><span class="caret"></span></a>

            <ul class="dropdown-menu">
                <li class="{{currentRoute 'user-show'}}"><a href="/{{currentUser.profile.userSlug}}">My Profile</a></li>
                <li class="createDot"><a href="#">New Dot</a></li>
                <li class="createList"><a href="#">New List</a></li>
                <li class="{{currentRoute 'feed'}}"><a href="{{pathFor 'feed'}}">Feed</a></li>
                <li role="separator" class="divider"></li>
                <li class="editUserAccount"><a href="#">Edit Account</a></li>
                <li role="separator" class="divider"></li>
                <li class="logout"><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>


</template>
