.navbar {
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-collapse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-fixed-top {
  height: 6vh;
  /*box-shadow: 0 1px 4px rgbda(0, 0, 0, 0.23)*/
}


/* Mobile view */

@media (max-width: 767px) {
  #navbar-collapse {
    background-color: rgba(255,255,255,0.95);
    /*border-color: transparent;*/
  }
  .navbar-fixed-top {
    position: absolute;
  }
  .navbar-default .navbar-toggle {
    /*border-color: #ddd;*/
    border-color: #FFFFFF;
    background-color: rgba(0,0,0,0.1);
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
  }
}

/* End Mobile view */


.navbar .navbar-brand-dotz{
  background-color: rgba(0,0,0,0.7);
  color: #ffffff;
  padding: 2px 5px;
}

.navbar .navbar-brand-colons{
  background-color: transparent;
  color: rgba(0,0,0,0.7);
  font-size: 24px;
  margin-left: -3px;
}

.navbar .container {
  max-height: 7vh;
}

.navbar .container {
  max-height: 7vh;
}


#whereIAm {
  margin-top: 2vh;
  min-width: 50vw;
  max-width: 75vw;
  height: 4vh;
}

#whereIAm .hereWithImg {
  position: relative;
  /* top: 1vh; */
  /* bottom: 1vh; */
  height: 3vh;
  width: 3vh;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.iAmHere {
  color: rgba(0,0,0,0.6);
}

.showWhere {

}

.noneWhere {
  display: none;
}

.navbar .navbar-form #search-icon {
  font-size: 1em;
}

.logout:focus {
  cursor:progress;
}

/*Buttons*/

.mobile-buck-button {
  margin-top: -3px;
}
