<template name="createNewList_form">

    <form id="createNewList" class="createNewList">


        <div id="listTitle" class="row">

            <div class="col-xs-3">
                <p><strong>List Name</strong></p>
            </div>

            <div class="col-xs-9">
                <input type="text" id="title" name="listTitle" class="transparent-InputBox" placeholder='Like "My Favorites" or "Cool Events to Go" ' maxlength="101">
            </div>

        </div>

      <hr>

        <div id="listDescription" class="row">

            <div class="col-xs-3">
                <p><strong>Description</strong></p>
            </div>

            <div class="col-xs-9">
                <!--<input type="text" name="listDescription" class="transparent-InputBox" placeholder="What's your list about?">-->
                <textarea id="description" name="listDescription" class="transparent-InputBox" rows="3" placeholder="What's your list about?" maxlength="201"></textarea>
            </div>

        </div>

        <hr>

        <div id="listImage" class="row">

            <div class="col-xs-3">
                <p><strong>List Cover Image</strong></p>
            </div>

            <div class="col-xs-9">
                <!--NOTE! "{>imgUploader}" is a shred template (with the createNewDot form) -->
              {{>imgUploader}}
            </div>


        </div>

        <hr>

        <div id="listPrivacy" class="row">

            <div class="col-xs-3">
                <p><strong>List Privacy</strong></p>
            </div>

            <div class="col-xs-9">

                <!--Public-->
                <div class="col-xs-4 text-center">
                    <div id="_publicList" class="privacyBtns {{publicSelectedClass}}">
                        <i class="fa fa-globe"></i>
                        <br>
                        <p><strong>Public</strong></p>
                        <!--<p class="mdGrey"><small>Anyone can see and add dotz to the list.</small></p>-->
                        <p class="mdGrey"><small>Let everyone see and add new dotz to this list.</small></p>
                    </div>
                </div>

              <!--Closed-->
                <div class="col-xs-4 text-center">
                    <div id="_closedList" class="privacyBtns {{closedSelectedClass}}">
                        <i class="fa fa-lock"></i>
                        <br>
                        <p><strong>Closed</strong></p>
                        <p class="mdGrey"><small>Anyone can see the list. Only you can add new dotz.</small></p>
                    </div>
                </div>

                <!--Secret-->
                <!--<div class="col-xs-4 text-center">-->
                    <!--<div id="_secretList" class="privacyBtns {{secretSelectedClass}}">-->
                        <!--<i class="fa fa-user"></i>-->
                        <!--<br>-->
                        <!--<p><strong>Secret</strong></p>-->
                        <!--<p class="mdGrey"><small>Only you can see and add dotz to this list.</small></p>-->
                    <!--</div>-->
                <!--</div>-->

            </div>

        </div>

        <!--<div class="form-group has-feedback">-->
            <!--<label for="title">Full Name</label>-->
            <!--<input type="text" name="title" class="form-control" placeholder="Full Name">-->
            <!--<i class="fa fa-user form-control-feedback"></i>-->
        <!--</div>-->

        <!--<div class="form-group has-feedback">-->
            <!--<label for="emailAddress">Email</label>-->
            <!--<input type="email" name="emailAddress" class="form-control" placeholder="Email">-->
            <!--<i class="fa fa-envelope form-control-feedback"></i>-->
        <!--</div>-->

        <!--<div class="form-group has-feedback">-->
            <!--<label for="password">Password</label>-->
            <!--<input type="password" name="password" class="form-control" placeholder="Password">-->
            <!--<i class="fa fa-key form-control-feedback"></i>-->
        <!--</div>-->

        <div id="footer-createNewList_form" class="form-group txtMd">
            <!--<input type="submit" class="btn signupBtn" value="create New List">-->
          {{#if isSpinnerOn}}
              <button id="createNewListButton" type="submit" class="createNewDotBtn transparent btn  btn-primary has-spinner active">
                  <span class="spinner"><i class="fa fa-spinner lightGrey fa-spin-custom"></i></span>CREATE</button>
          {{else}}
              <button id="createNewListButton" type="submit" class="createNewDot_Btn btn btn-default">CREATE</button>
          {{/if}}
        </div>

    </form>

</template>
