<template name="landingSignup">
  {{>bertAlert}}

    <div id="landingPage-body" class="container-fluid" style="background-image: url('/dotz_landing_1.jpg')">
        <div class="landing-overlayer"></div>
        <div class="row upper-row">
            <div class="col-sm-2 pull-left">
                <a href="/">
                <div class="landing-page-logo">
                    <img id="landing-page-logo" src="/dotz-logo-trans1.png">
                </div>
                </a>

            </div>

            <div class="col-sm-4 pull-right txtR">
                <div>Already a part of Dotz?
                    <a href="{{pathFor 'login'}}"><button class="login btn square btn-trans btn-md">Login</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 colCenter txtMd">
                <H2>MAKE YOUR GUESTS HAPPIER WITH DOTZ</H2>
                <h5>Connect the city Events, Places and Things to-do in custom-made lists.</h5>
            </div>
        </div>

        <div id="landing-body" class="row">
            <div class="col-sm-4 colCenter">
                {{>signup}}

                <div class="txtMd">
                    <span id="signup-terms">Creating an account means you’re okay with our Terms of Service.</span>
                </div>
            </div>

        </div>

        <div id="signup-login-bottom-links-div" class="row">
            <div id="_exploreBtn" class="col-sm-4 pull-right txtR">
                <!--<a><span>About Us</span></a>-->
                <a href="/dotz">
                    <span>Explore</span>
                </a>
            </div>
        </div>

    </div>


</template>
