<template name="landingSignup">
  {{>bertAlert}}

    <div id="landingPage-body" class="container-fluid">
        <div class="landing-overlayer"></div>
        <div class="row upper-row">

            <div class="col-sm-4 pull-right txtR">
                <div>Already a part of Dotz?
                    <a href="{{pathFor 'login'}}"><button class="login btn square btn-trans btn-md">Login</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <br><br><br><br><br><br>

            <div class="col-sm-8 colCenter txtMd">
                <h2 id="logoForSignUp">DOTZ:</h2>
            </div>

            <br>

            <div class="col-sm-8 colCenter txtMd">
                <h2>It's All About the Connections</h2>
            </div>

            <div class="col-sm-4 colCenter txtMd">
              <p class="mdTxt">A Discovery tool for communities</p>
            </div>

        </div>

        <div id="landing-body" class="row">
            <div class="col-sm-4 colCenter">
                {{>signup}}
            </div>

        </div>

        <!--<div id="signup-login-bottom-links-div" class="row">-->
            <!--<div id="_exploreBtn" class="pull-left txtR">-->
                <!--&lt;!&ndash;<a><span>About Us</span></a>&ndash;&gt;-->
                <!--<a href="/dotz">-->
                    <!--<span>Explore</span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

    </div>


</template>
