/*#listShowHeader-desktopDotShow {*/
  /*padding: 0;*/
  /*margin: 0 0 0 0;*/
/*}*/


#dotShowHeader-desktopDotShow {
  padding: 0;
  margin: 0 0 0 0;
  /*min-height: 92vh;*/
  /*background-color: #fff;*/
}

#desktopDotShow-listShowHeader {
  padding: 0;
  margin: 6vh 0 0 0;
}

#desktopDotShow-listShowHeader-filter {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.3);
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#desktopDotShow-listCoverImg {
  position: relative;
  height: 25vh;
  background-size: cover;
  /*background-repeat: repeat-x;*/
  background-position-y: 50%;
  background-position-x: 50%;
  margin: 0;
}

#desktopDotShow-titleDiv {
  position: absolute;
  bottom: 30px;
  /*padding-left: 0;*/
  left: 0;
  right: 0;
}

#circleDotImg-desktopDotShow {
  border-radius: 50%;
  padding: 0;
  height: 18vh;
  width: 18vh;
  background-size: cover;
  /* background-color: #e5e5e5; */
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  /* border: #e5e5e5 solid 2px; */
}

#desktopDotShow-title {
  /*text-transform: uppercase;*/
  /*color: #333;*/
  margin-top: 0vh;
  /*bottom: 0vh;*/
  min-height: 20px;
}


#desktopDotShow-descriptionDiv {
  padding-top: 15px;
  padding-bottom: 30px;
}

.dotDetailsDiv {
  padding-bottom: 5px;
}

.locationDatePriceDiv-desktopDotShow {
  padding-top: 0.7vh;
}

.dotCardIcons-desktopDotShow {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

#desktopDotShow-description {
  margin-top: 2vh;
  margin-bottom: 6vh;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.mediaDivInShowMore-desktopDotShow {
  /*height: 100%;*/
  /*width: 100%;*/
  /*padding: 10px;*/
}

#imgInShowMore-desktopDotShow {
  /*border-radius: 50%;*/
  /*padding: 0;*/
  /*max-width: 55vw;*/
  max-height: 35vh;
  margin-bottom: 3vh;
  /*width: 100%;*/
  /*background-size: cover;*/
  /* background-color: #e5e5e5; */
  /*position: relative;*/
}

#desktopDotShow-shortDescription {
  font-weight: normal;
  line-height: 25px;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#desktopDotShow-shortDescription-pre {
  overflow: inherit;
  margin-top: 2vh;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  max-height: 75px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


#desktopDotShow-shortDescription-pre-placeOrLocation {
  overflow: inherit;
  margin-top: 2vh;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#desktopDotShow-middleDiv {
  background-color: white;
  padding-top: 3.5vh;
  padding-bottom: 1.5vh;
  margin: 0;
}

#desktopDotShow-middleDiv-origin {
  padding-top: 0.5vh;
}

.desktopDotShow-originImgProfile {
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
}

#circleActionButton {
  /*display: inline-block;*/
  position: relative;
  /*position: absolute;*/
  margin-bottom: -6vh;
  outline: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*user-select: none;*/
  cursor: pointer;
  box-sizing: border-box;
  min-width: 0;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  padding-top: 12px;
  z-index: 9999;
  /*background-color: red;*/
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#actionButtonName {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 600;
}



#actionButton-desktopDotShow-dot {
  min-width: 7vw;
  margin-right: 10px;
}

#desktopDotShow-personalDescriptionDiv {
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 4.5vh;
  font-size: 1.25em;
}

.desktopDotShow-ownerImgProfile {
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  margin-right: 0.5vh;
}

#fixedFooter-desktopDotShow {
  background-color: #fafafa;
  /*padding: 1vh 0;*/
  border: none;
}

#fixedFooterLineDiv-desktopDotShow {
  height: 50px;
  /*margin-top: -1px !important;*/
  padding-top: 1.5vh;
}

.fixedFooterLine-desktopDotShow {
  border-left: 1px #e5e5e5 solid;
}

#fixedFooter-desktopDotShow h4 {
  margin: 0.75vh 0;
  text-transform: uppercase;
}

/*.fixedFooterShadow-desktopDotShow {*/
  /*box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.13);*/
/*}*/

#deadEnd-desktopDotShow {
position: relative;
height: 45vh;
width: 45vh;
margin-left: auto;
margin-right: auto;
/*margin-top: 0.25vh;*/
/* margin-bottom: 0.25vh; */
padding: 0;
/* overflow: hidden; */
background-size: cover;
background-position-y: 50%;
background-position-x: 50%;
border-radius: 50%;
}

#desktopDotShow-3dots {
  /*position: relative;*/
  /*top: 5px;*/
  /*right: 0;*/
}

#desktopDotShow-descriptionFilter {
  height: 12vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* top: 0; */
  /* margin-top: -8vh; */
  z-index: 999;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


















/* OLD CSS: */


/*ListShowHeader*/

.backToLastPath {
  position: absolute;
  top: 10vh;
  z-index: 999;
  width: 4em;
  height: 3em;
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 0 24px 24px 0;
}

.backToLastPath .btn-default {
  margin: 0.5em 0 0 1em;
  color: #333;
  background-color: rgba(245, 245, 245, 0);
  border-color: #333;
}

.backToLastPath .btn-default:hover {
  background-color: #ccc;
  outline: none;
}

.backToLastPath button {
  outline: none;
}

.lgTxt {
  font-size: 1.5em;
}



.list-show-btns-div {
  background-color: white;
  height: 8vh;
  padding-top: 1.5vh;
}

@media (max-width: 767px) {

  .list-show-btns-div {
    background-color: #fafafa;
    height: 8vh;
    padding-top: 1.5vh;
  }

}


#listShowHeader .listCoverImg {
  position: relative;
  height: 44vh;
  background-size: cover;
  /*background-repeat: repeat-x;*/
  background-position-y: 50%;
  background-position-x: 50%;
  margin: 0;
}


#listShowHeader .filter {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.46);
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
  height: 100%;
  /*/!*text-align: center;*!/*/
  /*opacity: 0.3;*/
  /*filter: alpha(opacity=0);*/
}



#listShowHeader .title {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 4rem;
  margin-top: 9vh;
  margin-bottom: 2vh;
}

#listShowHeader .title .fa-list-ul {
  color: #FFFFFF;
  font-size: 3rem;
}


#listShowHeader .description {
  text-align: center;
  color: rgba(255,255,255,0.7);
  margin-top: 2vh;
  margin-bottom: 5vh;
}


#listShowHeader .user {
  margin: auto;
}

#listShowHeader .user .userText {
  color: rgba(255,255,255,0.7);
}


#listShowHeader .iconDiv {
  /*width: 30vh;*/
  margin: auto;
  text-align: center;
}

#listShowHeader .listShow-btns {
  padding: 0.5em 0 0 0;
}







/*DotShowHeader*/

#dotShowHeader .fa {
  margin-right: 0.5em;
  text-align: center;
}

.event-details {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  min-height: 26.5rem;
  background: #fff;
  border-top: 1px solid #f1f1e9;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
}


.event-details__images {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 60%;
  overflow: hidden;
}

.event-details__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.event-details__filler {
  display: block;
  width: 60%;
}

.event-details__info {
  padding: 1.5rem 2.5rem 2.5rem;
  max-width: 36.25rem;
  width: 40%;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;
}

.event-details__title {
  margin: .75rem 0 0;
  padding: 0;
}

.event-details__meta {
  border: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  height: auto;
  margin: 2.6875rem 0;
  padding: 0;
  border-top: 1px solid #f1f1e9;
  width: 100%;
}

.event-details__book {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.dot-show-title {
  margin-top: 0;
}


/**/

pre {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

.dot-show-header {
  background-color: #ffffff;
  /*height: 60vh;*/
}

.dot-show-main-details {
  padding: 4vh 2em 2em 2em;
  height: 26em;
}

.dot-show-type-div {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dot-show-type-details {
  padding: 2em 0;
}

.dot-show-type {
  margin-top: 0;
  margin-bottom: 1em;
}

.dot-show-btn-div {
  /*padding-top: 0.5em;*/
}

.dot-show-btn {
  padding-top: 1em;
}

.dot-show-connect-btn {
  width: 50%;
}

@media (max-width: 767px) {

  .dot-show-connect-btn {
    width: 75%;
  }

}

.postImgCover {
  height: 26em;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.83);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
}

.liquidRow { /*for full width image without margin*/
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center; /*check for a better solution to center the image when it is smaller than the window*/
}

.liquidCol { /*for full width image*/
  padding-left: 0;
  padding-right: 0;
}

#imgPostShow {
  height: 40vh;
}
#postDescription {
  color: #949285;
}

#topPostShow {
  background-color: #333;
  /*margin-bottom: 2em;*/
}

#bodyPostShow { /* after the respImg align the texts in the page need to return to their first settings*/
  text-align: initial;
}

.rowMb20 {
  /*margin-bottom: 2em;*/
}

.dot-description {
  padding-top: 1em;
  padding-bottom: 1em;
}

.dot-comment-div {
  padding-bottom: 3em;
}

.dot-divider-box {
  background-color: #fafafa;
  color: #cccccc;
  border: #cccccc solid 1px;
  padding: 0.5em 1em 0.5em 1em;
  position: relative;
  top: -1.75em;
}

.dot-divider-hr {
  position: relative;
  margin-top: 3em;
  text-align: center;
}

.dot-desc-left-pad{
  padding-left: 2em;
}



#commentNameDate h4{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #2D2D2B;
}

#commentNameDate p{
  margin-top: 1em;
  font-weight: lighter;
  font-size: 15px;
  color: #4A4945;

}

#likeBar {
  text-align: right;
}

.type-icon-dot-show {
  height: 1.5em;
}

#numLikesPostShow {
  border-style: solid;
  border-color: #2D2D2B;
  border-width: 1px;
  padding: 1px 3px 1px 3px;
}

.iconBtn {
  font-size: 1.5em;
}

#topReview {
  border-style: solid;
  border-color: #2D2D2B;
  background-color: #2D2D2B;
  border-width: 1px;
  padding: 1px 2px 1px 2px;
  color: white;
  font-size: 1em;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

#ownerPostDiv {
  margin-top: 2em;
}

.postUserImgProfile {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
}

.postCommentImgProfile {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.dot-owner-description-div {
  margin-bottom: 2em;
}

.map-div {
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
  position: relative;
}

.map-container-dot-show {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 35vh;
}

.map-container-overlayer {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.34);
  cursor: pointer;
}



/*navbar-fixed-bottom*/

#navbar-bottom {
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  height: 7vh;
}

#navbar-bottom .container {
  margin-top: 1vh;
  margin-bottom: 1vh;
}


/*connectedDotzArray area*/

#connectedDotzArray {
  /*min-height: 40vh;*/
  /*padding-top: 2em;*/
}




/*dotShow Footer Desktop*/

#dotShowFooter-desktopDotShow {
  /*background-color: rgba(0, 0, 0, 0.1);*/
  margin-top: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  min-height: 30vh;
}

#dotShowFooter-desktopDotShow .row {
  /*min-height: 5vh;*/
}

#dotShowFooter-desktopDotShow .addButton {
  width: 35vh;
  margin: auto;
}

#dotShowFooter-desktopDotShow .addButton button {
  width: 35vh;
  margin-right: auto;
  margin-left: auto;
}

#dotShowFooter-desktopDotShow .title {
  margin: 5vh;
  text-align: center;
}

#listShow-share-btn {
  margin-left: 0.25em;
}


/*dotShow with emptyList*/



#emptyList {
  padding: 2vh;
  min-height: 10vh;
}

#emptyList .row {
  padding-top: 10vh;
}

/*#emptyList .addButton {*/
  /*width: 35vh;*/
  /*margin: auto;*/
/*}*/

/*#emptyList .addButton button {*/
  /*width: 35vh;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
/*}*/

/*.createInShow {*/
  /*padding: 2em 0 0 0;*/
/*}*/


/* mobile adaption for dot show */

@media (max-width: 768px) {

  #listShowHeader .title {
    margin-top: 6vh;
    font-size: 2em;
    margin-bottom: 1.5vh;
  }

  #listShowHeader .description {
    margin-bottom: 3vh;
  }

}

#_generateAutoDotz {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-right: 2vh;
  padding-left: 2vh;
}



/* Temp ... */

#brandLineDiv {
  overflow: hidden;
}

#brandLine {
  float: right;
  margin-right: -15vw;
  height: 6.5vh;
  /*width: 90vw;*/
  margin-top: 23vh;
}

