.ConnectedByOwnerDotz-div {
  height: 30vh;
  overflow: scroll;
}

.dot-container-img-card-connect-modal {
  position: relative;
  width: 3em;
  height: 3em;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border-radius: 50%;
}

.ConnectedByOwnerDotz {
  padding: 0.5em;
  border-bottom: #F3F3F3 solid 1px;
}

.ConnectedByOwnerDotz:hover {
  background-color: #cccccc;
}

.dotTitle-connect-modal {
  font-weight: 900;
}

.connectBtn, .createToBtn, .connectToUserProfile  {
  margin-top: 0.75em;
  width: 100%;
}

.nested-dotz {
  background-color: #ffffff;
}

.nested-dotz .ConnectedByOwnerDotz {
  background-color: #eeeeee;
}

.nested-dotz .ConnectedByOwnerDotz:hover {
  background-color: #cccccc;
}

