#desktopDotCard-box {
  padding: 1vh 0;
  /*margin-left: 1vw;*/
  /* margin-bottom: 3vh; */
  /* overflow-x: hidden; */
  border-left: 8px #fff solid;
  border-bottom: 2px #F9F9F9 solid;
}

/*#mobileDotCard-lineDiv {*/
/*position: relative;*/
/*width: 100%;*/
/*height: 5vh;*/
/*}*/

/*#mobileDotCard-line {*/
/*/!*position: absolute;*!/*/
/*height: inherit;*/
/*width: 18vw;*/
/*border-right: 2px solid #e5e5e5;*/
/*}*/

#desktopDotCard {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 0;
  padding-left: 0;
  /*margin-top: 1vh;*/
  /*margin-bottom: 1vh;*/
}

#desktopDotCard-box:hover {
   background-color: #FFFFFF;
   /*border-radius: 4px;*/
 }


#desktopDotCard:hover #desktopDotCard-linkButton {
  display: block;
}

#desktopDotCard:hover #desktopDotCard-connectButtonDiv, #desktopDotCard:hover #desktopDotCard-disconnectButtonDiv {
  display: block;
}

#desktopDotCard:hover .desktopDotCard-col-credit {
  display: inline-block;
}

#desktopDotCard:hover #connectedByText-desktopDotCardDiv {
  display: block;
}

#desktopDotCard:hover #desktopDotCard-col-sortBtns  {
  display: block;
}

#desktopDotCard-col-connectLine {
  width: 3%;
  position: relative;
  margin-top: 6.5vh;
  float: left;
  text-align: center;
  padding: 0;
}

#desktopDotCard-col-sort-like {
  width: 2%;
  position: relative;
  float: left;
  text-align: center;
  margin-top: 8vh;
  margin-left: 3%;
  margin-right: 1%;
}

#desktopDotCard-col-sortBtns {
  display: none;
}

#desktopDotCard-col-like {
  /*width: 2%;*/
  /*position: relative;*/
  /*float: left;*/
  /*text-align: center;*/
  /*margin-top: 8vh;*/
  /*margin-left: 3%;*/
  /*margin-right: 1%;*/
}

#desktopDotCard-connectLine {
  border-top: 0.5vw #fff solid;
}

/*#desktopDotCard-horizonalLine {*/
  /*position: absolute;*/
  /*top: 22.5vw;*/
  /*width: 100%;*/
  /*border-bottom: 1px #e5e5e5 solid;*/
/*}*/

#desktopDotCard-col-img{
  width: 24%;
  position: relative;
  /*min-height: 1px;*/
  /*padding-right: 1vw;*/
  /*!*padding-left: 1vw;*!*/
  /*margin: auto;*/
  float: left;
}

#desktopDotCard-img {
  border-radius: 50%;
  padding: 0;
  height: 20vh;
  width: 20vh;
  background-size: cover;
  /*background-color: #e5e5e5;*/
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  /*border: #e5e5e5 solid 2px;*/
}

#desktopDotCard-listIcon {
  /*margin: auto;*/
  text-align: center;
  /*vertical-align: middle;*/
  /*position: absolute;*/
  /*padding: 0 0.25em;*/
  /*bottom: 0.25em;*/
  /*left: 8vw;*/
  /*color: #fff;*/
}

#desktopDotCard-listIcon .fa-list-ul {
  margin-top: 6vh;
  /*text-align: center;*/
  /*margin: auto;*/
  /*position: absolute;*/
  /*padding: 0 0.25em;*/
  /*bottom: 0.25em;*/
  /*left: 8vw;*/
  /*background-color: rgba(51, 51, 51, 0.5);*/
  color: #fff;
}

#desktopDotCard-connectedDotz {
  position: absolute;
  padding: 0 0.25em;
  bottom: 0.25em;
  left: 8vw;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

#desktopDotCard-col-text {
  width: 63%;
  /*padding-top: 1vw;*/
  position: relative;
  /*min-height: 20vh;*/
  /*!*padding-right: 15px;*!*/
  /*margin: auto;*/
  float: left;
}

#desktopDotCard-col-title {
  width: 97%;
  /*width: 55vw;*/
  /*position: relative;*/
  /*max-height: 20vw;*/
  /*overflow-y: hidden;*/
  /*padding: 0 1vw;*/
  /*margin: auto;*/
  /*float: left;*/
}

#desktopDotCard-col-description {
  width: 90%;
}

#desktopDotCard-description h5, #desktopDotCard-description h6  {
  margin-top: 5px;
  margin-bottom: 5px;
}

#desktopDotCard-linkButton {
 display: none;
  position: absolute;
  bottom: 15px;
  right: 75px;
  padding-right: 10px;
  border-right: 1px solid #e5e5e5;
}

#desktopDotCard-connectButtonDiv {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#desktopDotCard-disconnectButtonDiv {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 45px;
  padding-right: 10px;
  border-right: 1px solid #e5e5e5;
}

#desktopDotCard-col-title h2 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  /*color: rgba(0,0,0,0.95);*/
  margin: 3px 0 0 0;
}

.desktopDotCard-col-credit {
  display: none;
  /*position: absolute;*/
  /*bottom: 10%;*/
  /*right: 1.75%;*/
  /*left: 33%;*/
}

#desktopDotCard-col-credit h6 {
  margin: 0 0 0 0;
  padding: 0;
}

#desktopDotCard-credit {

}

/*#desktopDotCard-overlayer {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*left: 12%;*/
/*}*/

/*#desktopDotCard-hoverButtons {*/
  /*display: none;*/
/*}*/

/*#desktopDotCard-overlayer:hover {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*left: 12%;*/
  /*z-index: 9999;*/
  /*/!*background-color: rgba(255, 255, 255, 0.86);*!/*/
/*}*/

/*#desktopDotCard-overlayer:hover #desktopDotCard-hoverButtons {*/
  /*display: block;*/
  /*position: absolute;*/
  /*bottom: 14px;*/
  /*left: 38px;*/
  /*right: -49px;*/
/*}*/


#desktopDotCard-buttons {
  width: 100%;
  padding-top: 1vw;
  position: relative;
  /* height: 19vw; */
  /* padding-right: 15px; */
  margin: auto;
  float: left;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: 6vw;*/
  /*width: 22vw;*/
  /*margin: auto;*/
  text-align: center;
}

#desktopDotCard-buttons .btn-full-trans i {
  font-size: 1.25em;
}

#desktopDotCard-3dots {
  position: absolute;
  top: 1.5vh;
  right: 0;
}

#desktopDotCard-3dots .dropdown-menu > li > a {
  padding-left: 0;
}


.desktopDotCard-collapseConnectorDiv {
  margin-top: -1vh;
}

#desktopDotCard-collapseConnector {
  /*height: 6em;*/
  width: 88vw;
  margin-left: 3vw;
  position: relative;
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: #eee;
}

#connectedByTextDiv-desktopDotCard {
  /*padding-top: 2vh;*/
  /*padding-bottom: 2vh;*/
}

#connectedBy-connectorLine-desktopDotCard {
  padding-bottom: 1em;
}

#connectedByText-desktopDotCardDiv {
  display: none;
  padding: 0 15px;
  width: 91%;
  /*background-color: #eee;*/
  /*color: #333;*/
  /*padding-top: 3vw;*/
  /*padding-bottom: 1vw;*/
}

#connectedByText-desktopDotCard {
  border-left: 3px solid #d5d5d5;
  padding-left: 10px;
  margin-bottom: 0;
}

.likesCounter {
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
}







.desktopDotCard-buttons {
  font-size: 2em;
  padding: 1vw 2vw;
  /*color: #777;*/
  border-color: #ccc;
}


#desktopDotCardFooter {
  color: #333333;
}

