#dotCardAndConnectorBox-Desktop {
  /* margin-top: 2vh; */
  /* margin-bottom: 2vh; */
  /*border-top: 1px solid #f2f2f2;*/
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#dotCardBox-Desktop-Reconnected-div {
  text-align: right;
  position: absolute;
  bottom: 4px;
  right: 0;
  margin-top: 0;
  /*margin-top: 1vh;*/
  font-size: 12px;
  /*color: #8899a9;*/
}

#dotCardAndConnectorBox-Desktop:hover {
  background-color: #fafafa;
}

#dotCardAndConnectorBox-Desktop:hover #desktopDotCard-editOrConnectButtonsDiv {
  /*display: inline-block;*/
  /*float: right;*/
}

#desktopDotCard-editOrConnectButtonsDiv {
  /*display: none;*/
  display: inline-block;
  float: right;
}

#desktopDotCard-3dots {
  font-size: 20px;
  transform: rotate(270deg);
  float: right;
  font-weight: bold;
}

#dotCardBox-Desktop {
  /*margin-top: 2vh;*/
  /*margin-bottom: 1vh;*/
}

#dotCard-sortOrLike-col {
  height: 110px;
  width: 5%;
  padding: 0;
}

#dotCard-buttons-col {
  height: 110px;
  width: 5%;
  padding: 0 10px 0 0;
  float: right;
}

#dotCard-Like-col {
  position: relative;
  top: 45px;
  /*left: 50%;*/
  text-align: center;
}

#dotCard-imageAndContent-col {
  width: 90%;
}

.likeBtn {
  font-size: 1.125em;
}


.connectorProfileImage-Desktop {
  height: 18px;
  width: 18px;
  border-radius: 3px;
}

.connectorText-Desktop {
  /*vertical-align: sub;*/
  font-size: 18px;
  color: #333;
  font-weight: 500;
  height: 25px;
}

.connectorName-Desktop {
  /*vertical-align: sub;*/
  font-size: 14px;
  /*color: #333;*/
  font-weight: 400;
}

#dotContent-row {
  padding-left: 14px;
  margin-top: 10px;
  height: 95px;
}

#dotContent-col {
  padding-left: 2px;
  height: 88px;
}

#dotContent-col-Link {
  border-left: 3px solid #eee;
  padding-left: 8px;
  min-height: 0;
  height: 88px;
}

#dotCardImg-Desktop {
  padding: 0;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  border: #e5e5e5 solid 1px;
}

#dotsNumBadge {
  width: 5vh;
  height: 5vh;
  font-size: 2vh;
  padding-top: 0.5vh;
  border-radius: 24px;
  border: 3px solid #fff;
  background-color: #0090ff;
  color: #fff;
  text-align: center;
  /*line-height: 1.7;*/
  position: absolute;
  bottom: 0;
  right: 0;
}

#dotCardText-Desktop {
  height: 110px;
  padding-right: 0;
  /*padding-left: 0;*/
}

#dotCardText-Desktop h4, #dotCardText-Desktop h5, #dotCardText-Desktop p {
  margin-top: 0px;
  margin-bottom: 10px;
}

#dotCardText-Desktop h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#dotCardShortTitle-Desktop {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
}

#dotCardShortDescription-Desktop {
  color: rgba(51, 51, 51, 0.85);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#dotCard-linkName {
  position: absolute;
  bottom: 0;
}


#dotCardConnectButton-Desktop {
  border: solid 1px;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-top: 2px;
  line-height: 0.8;
}
