#dotCardAndConnectorBox-Desktop {
  margin: 3vh 0;
}

#dotCardAndConnectorBox-Desktop:hover #desktopDotCard-editButtonDiv {
  display: inline-block;}

#desktopDotCard-editButtonDiv {
  display: none;
}

#desktopDotCard-editButtonDiv {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #e5e5e5;
}


.left-line-dot-card-box-desktop {
  padding-left: 9px;
  margin-left: 9px;
  border-left: 1px solid #e5e5e5;
  margin-top: 3vh;
}

#dotCardBox-Desktop {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.connectorProfileImage-Desktop {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
}

.connectorText-Desktop {
  color: #337A98;
}

#dotCardImg-Desktop {
  padding: 0;
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  border: #e5e5e5 solid 2px;
}

#dotCardText-Desktop {
  padding-right: 0;
  padding-left: 0;
}

#dotCardText-Desktop h4, #dotCardText-Desktop h5, #dotCardText-Desktop h6, #dotCardText-Desktop p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#dotCardShortTitle-Desktop {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#dotCardShortDescription-Desktop {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


#dotCardConnectButton-Desktop {
  padding: 0;
}
