.edit-profile-img {
  width: 10em;
  height: 10em;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border-radius: 50%;
}

.edit-cover-img {
  /*width: 15em;*/
  height: 10em;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  /*border-radius: 50%;*/
}


#profileImageUpload {
  height: 10vh;
}


#coverImageUpload {
  height: 10vh;
}
