
<template name="default">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <!--<link rel="stylesheet" href="http://css-spinners.com/css/spinner/dots.css" type="text/css">-->
</head>


<body>

  {{>bertAlert}}
	{{>header}}

  <div id="main">
		{{> Template.dynamic template=yield}}
	</div>

  {{#if joinUsDivOn}}
      {{>footer}}
  {{/if}}

  {{#if shareFooterOn}}
    {{> footerForShare}}
  {{/if}}

  <!--[if lt IE 10]>

<nav id="ie9sucks" class="signUp-nav-bar navbar navbar-default navbar-fixed-bottom hidden-xs col-sm-12" role="navigation">
  <div class="container-fluid" id="signUp-div">

      <div class="txtMd signup-div-content">
          <h4 class="whiteTxt"><strong>We are very sorry, but your browser is out-of-date and not fully supported.</strong></h4>
          <h5 class="whiteTxt">Please download one of these up-to-date, free and excellent browsers:</h5>
          <br>
          <a href="http://browser-update.org/update-browser.html" target="_blank">
              <button type="button" id="_updateBtn" class="btn">Update Now</button>
          </a>
      </div>

  </div>
</nav>

  <script >
      var exitBtn = document.getElementById('_ie9ExitBtn');

      exitBtn.addEventListener('click', turnOffFooter);
      function turnOffFooter() {
          document.getElementById('ie9sucks').setAttribute('style','display:none');
      }
  </script>

<![endif]-->


<!--Intercom-->
<!--{{#unless IS_MOBILE_SHOW}}-->
  <!--<div>-->
    <!--{{>Intercome}}-->
  <!--</div>-->
<!--{{/unless}}-->
<!--end Intercom-->


</body>
</template>




<template name="Intercome">
    <!--Intercom-->
        <script>
            if(Meteor.userId()) {
                window.intercomSettings = {
                    app_id: "abxdt7kt",
                    name: Meteor.user().username, // Full name
                    email: Meteor.user().emails[0].address, // Email address
                    created_at: new Date(Meteor.user().createdAt).getTime() / 1000 // Signup date as a Unix timestamp
                };
            }
            else{
                window.intercomSettings = {
                    app_id: "abxdt7kt"
                };
            }
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/abxdt7kt';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <!--end Intercom-->
</template>
