.searchResults {
  min-height: 40vh;
}

.loadMore {
  margin-bottom: 2em;
  margin-top: 2em;
}

.search-row .search-box {
  color: #cccccc;
  background-color: #fff;
  /*border-color: #ccc;*/
  display: inline-block;
  padding: 6px 1em;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 24px;
}

.search-container {
  padding: 4vh;
}


.search-container .lg-form {
  font-size: 1em;
  /*line-height: 2em;*/
  height: 4vh;
  padding: 1em;
  min-width: 40vh;
}

#search-icon {
  font-size: 1em;
  color: #cccccc;
  right: 10px;
  top: 10px;
}

.search-row {
  padding: 3em 0;
  /*border-bottom: #cccccc solid 1px;*/
  min-height: 20vh;
}



.search-results-row {
  padding-top: 2em;
  background-color: #fafafa;
  min-height: 70vh;
}

.dot-card-search-wrapper {
  margin-bottom: 1.5em;
}

.search-results-row .tab-content {
  border: transparent;
}



.user-card-search-title {
  padding-left: 0;
}

.user-card-search-btns {
  padding-right: 0;
}

.user-card-search-title .h2Title {
  margin-top: 0.125em;
}
