<template name="searchBox">

    <div class="container-fluid search-container">

        <div class="row">
            <div id="mixDescription" class="col-xs-12 col-sm-10 col-md-6 colCenter txtMd">

                <h1 class="darkText">What Do You Wanna Do?</h1>

            </div>
        </div>


        <div class="row search-row">
            <div class="col-xs-12 txtMd">

                <input type="text" class="searchInput search-box" id="searchInput" placeholder='"Eat", "Surf", "Dance" ...'>
                <i id="search-icon" class="fa fa-search"></i>

            </div>
        </div>

    </div>


    <div class="container-fluid">
        <div class="row search-results-row">
            <div class="col-xs-12">

                  <ul>
                    {{#if findDotz}}

                      {{#each result}}
                        <div class="dot-card-search-wrapper">
                          {{> dotCardSearch}}
                        </div>
                      {{/each}}

                    {{/if}}
                  </ul>

            </div>
        </div>
    </div>

</template>
