<template name="searchBoxPage">

    <div class="container-fluid search-container">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-6 colCenter txtMd">
                <br><br>

                <h2 class="darkText">What are you looking for?</h2>

                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 colCenter">
              {{>searchBox}}
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-8 colCenter">
              {{>searchResults}}
            </div>
        </div>
    </div>

    <div id="tempGoogle"></div>

</template>
