<template name="userCardSearch">
    {{check}}
    <div class="row" id="listCard-box">
        <div class="col-xs-11 col-sm-10" id="userSearchCard">
            <a href="/{{dot.dotSlug}}">
                <div class="col-xs-12 col-sm-4 col-md-3" id="listCardImgSide">
                    <div class="container-fluid dot-container-img-listCard" style="background-image: url('{{profile.profileImage}}')">
                        <!--<div class="filter">-->
                        <div id="round-overlay">
                            <div class="imgSideSpacer">
                            </div>
                        </div>

                        <!--</div>-->
                    </div>
                </div>
            </a>


            <div class="col-xs-12 col-sm-8 col-md-9" id="listCardTextSide">


                <div class="content">

                    <a href="/{{profile.eserSlug}}">
                        <div class="listCardTitle">
                            <a href="/{{profile.eserSlug}}"><h2 class="h2Title">{{username}}</h2></a>
                        </div>
                    </a>

                    <div class="listCardText">
                        <p class="personalDescriptionOrBodyText">{{profile.description}}</p>
                    </div>
                </div>
                <div class="listCardIcons">

                      <span class="txtL dot-type">
                                        <img id="type-icon" src="/place-icon-grey.png">
                                        <span class="greyText smTxt">{{profile.location.name}}</span>
                                      </span>


                </div> <!--end listCardIcons-->


                <div class="row listCardFooter">
                    <hr>

                    <div class="buttonsBar">



                        <button type="button" class="connect btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i>
                            Connect {{connectCounter}}</button>



                    </div>

                </div>
            </div>


        </div> <!-- end listCard -->

    </div>
</template>
