<template name="userCardSearch">
<div class="col-xs-11 col-sm-10" id="listCover">
    <div class="container-fluid dot-container-img-listCard" style="background-image: url('{{dot.coverImageUrl}}')">
        <div class="filter">
            <div class="listCoverContent">
                <a href="/{{dot.dotSlug}}">
                    <div class="listCardTitle">
                        <a href="/{{dot.dotSlug}}"><h2 class="h2Title">{{dot.title}}</h2></a>
                        <h2 class="listIcon"><i class="fa fa-list-ul"></i></h2>
                    </div>

                </a>

                <div class="row listCardFooter">

                    <div class="listCardUser col-xs-8">


                        <a href="/{{ownerUser.profile.userSlug}}" class="userImgIcon">
                            <img class="userImgIcon" src="{{ownerUser.profile.profileImage}}">
                        </a>
                              <span class="smTxt"><a class="whiteTxt" href="/{{ownerUser.profile.userSlug}}">
                                  <strong>{{ownerUser.username}}</strong></a></span>
                        <!--<span class="whiteTxt smTxt"> · {{actionDate}}</span>-->
                    </div> <!--end userListCard -->

                    <!--<div class="btn-connect-div col-xs-4 pull-right">-->
                    <div class="buttonsBar col-xs-4">
                        <button type="button" class="connect btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i>
                            Connect {{connectCounter}}</button>

                    </div>

                </div>


                    <!--{{#if dotzNum}}-->
                <!--<div class="dotConnectedDotzLastIcon">-->
                <!--<div class="innerDotlengh-upper txtMd"><span>{{dotzNum}}</span></div>-->
                <!--<div class="innerDotlengh-lower txtMd"><span>{{dotOrDotz}}</span></div>-->
                <!--</div>-->
                    <!--{{/if}}-->

            </div>

        </div>
    </div>
</div>
</template>
