<template name="userCardSearch">
    <div class="row" id="listCard-box">
        <div class="col-xs-11 col-sm-10 colCenter" id="userSearchCard">



            <a href="/{{profile.userSlug}}">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 userSearchCardImgBg" id="listCardImgSide">
                <div class="container-fluid dot-container-img-listCard" style="background-image: url('{{profile.profileImage}}')">
                    <!--<div class="filter">-->
                    <div id="round-overlay">
                        <div class="imgSideSpacer">
                        </div>
                    </div>

                    <!--</div>-->
                </div>
            </div>
            </a>


            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8 search-card-body-div" id="listCardTextSide">


                <div class="content">

                    <a href="/{{profile.userSlug}}">
                        <div class="listCardTitle">
                            <a href="/{{profile.userSlug}}">
                                <h4 class="h2Title">{{username}}</h4>
                            </a>
                        </div>
                    </a>

                    <div class="listCardText">
                        <p class="personalDescriptionOrBodyText">{{profile.description}}</p>
                    </div>
                </div>

                <div class="userSearchCardFooter">

                    <div class="buttonsBar">

                  {{# if isNotMe}}
                    {{#if myFollow}}
                            <button type="button" class="unFollow btn btn-success btn-md">Following {{followersCounter}}</button>
                    {{else}}
                            <button type="button" class="follow btn btn-success btn-md">Follow {{followersCounter}}</button>
                    {{/if}}

                  {{/if}}


                    </div>

                </div>

            </div>


        </div> <!-- end listCard -->

    </div>
</template>
