<template name="dashboard">
  <h3>Dashboard</h3>
  <div class="row">
      <div id="_FBGroupForm" class="row">
          <div class="col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1">
              <p>Get Facebook groups posts</p>
              <input type="text" id="_fbGroupIdInput" placeholder="your facebook group URL e.g: https://www.facebook.com/groups/Hashavua/" class="form-control">
            {{#if isSpinnerOn}}
                <button id="_getFBData" type="submit" class="createBtn transparent insert btn round btn-primary has-spinner active">
                    <span class="spinner"><i class="fa fa-spinner lightGrey fa-spin-custom"></i></span>Get it!</button>
            {{else}}
                <button id="_getFBData" type="submit" class="createBtn insert btn round btn-primary">Get it!</button>
            {{/if}}
          </div>
      </div>
  </div>
</template>
