/*profileDotCard css*/

#profileDotCard-Box {
  height: 27vw;
  /*max-width: 37vh;*/
}
@media (max-width: 767px) {
  #profileDotCard-Box {
    height: 37vw;
    padding-right: 3.5vw;
    padding-left: 3.5vw;
  }
}

#profileDotCard-buttons {
  display: none;
  font-size: 18px;
}

#profileDotCard-Box:hover #profileDotCard-buttons {
  display: block;
}

.profileDotCardImg {
  position: relative;
  height: 19vw;
  width: 19vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25vh;
  /*margin-bottom: 0.25vh;*/
  padding: 0;
  /*overflow: hidden;*/
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .profileDotCardImg {
    height: 24vw;
    width: 24vw;
  }
}


.profileDotCardTitle {
  color: #4b4f54;
  margin-top: 1.2vh;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1.25em;
  /*-webkit-margin-before: 0.83em;*/
  /*-webkit-margin-after: 0.83em;*/
  /*-webkit-margin-start: 0px;*/
  /*-webkit-margin-end: 0px;*/
  text-align: center;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 767px) {
  .profileDotCardTitle {
    font-size: 0.8em;
    margin-top: 0.7vh;
    margin-right: 0vw;
    margin-left: 0vw;


  }
}

a span {
  cursor: pointer;
  color: #ccc;
}

a span:hover {
  color: #337ab7;
}

#profileDotCard-buttons #notInMyProfile{
  position: absolute;
  top: 9vw;
  left: 0.5vw;
}

#profileDotCard-buttons a .circle {
  height: 2.5vw;
  width: 2.5vw;
  padding: 0.5vw;
  text-align: center;
}



/*dropDown menu */


#pre-delete-menu {
  top: initial;
}

.dropdown-menu li i {
  padding-right: 1em;
}

#pre-delete-menu .delete i {
  color: #d9534f;
}
#pre-delete-menu .deleteShow i {
  color: #d9534f;
}

#pre-delete-menu li a {
  cursor: pointer;
}

a span {
  cursor: pointer;
  color: #ccc;
}

a span:hover {
  color: #337ab7;
}

.buttonsBar {
  padding-right: 0;
  padding-left: 0;
}









