#mobileDotCard {
  position: relative;
  padding: 0;

}

#mobileDotCardHorizonalLine {
  position: absolute;
  top: 22.5vw;
  width: 100%;
  border-bottom: 1px #eee solid;
}

#mobileDotCard-col-img{
  width: 35vw;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-text {
  width: 55vw;
  position: relative;
  height: 25vw;
  padding-right: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-title {
  width: 55vw;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-title h5 {
  margin: 0.125em 0 0 0;
}

#mobileDotCard-col-credit {
  width: 55vw;
  position: absolute;
  bottom: 0;
  min-height: 1px;
  padding-right: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-credit h6 {
  margin: 0 0 0.125em 0;
}

#mobileDotCardCredit {

}



#mobileDotCard-col-like {
  width: 10vw;
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  margin: auto;
  float: left;
  text-align: center;
}

#mobileDotCard-col-3dots {
  position: absolute;
  bottom: 0;
  right: 6vw;
  width: 10vw;
  margin: auto;
  text-align: center;
  float: right;
}

.likesCounter {
  margin: 0;
}

#mobileDotCardImg {
  padding: 0;
  height: 25vw;
  border-radius: 50%;
  width: 25vw;
  background-size: cover;
  position: relative;
}

#mobileDotCardLikeButton {
  padding: 1vh 1.25vh 0 1.25vh;
  font-size: 0.85em;
}

#mobileDotCardLikeDiv {
  position: absolute;
  bottom: 18vw;
  left: -4.5vw;
  height: 9vw;
  width: 9vw;
  background-color: #FAFAFA;
  border-radius: 50%;
  border: 1px #eeeeee solid;
}

#mobileDotCardFirstImg {
  position: absolute;
  bottom: 18vw;
  left: 71vw;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-size: cover;
}

#mobileDotCardFirstImg-overlayer {
  position: absolute;
  padding: 0 0.25em;
  bottom: 0.25em;
  left: 8vw;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

#mobileDotCardSecondImg {
  position: absolute;
  bottom: 18vw;
  left: 86vw;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-size: cover;
}

#mobileDotCardSecondImg-overlayer {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

#mobileDotCardActionButton {
  margin-right: 5vw;
  padding: 1vw 2vw;
  color: #ccc;
  background-color: #fafafa;
  border-color: #ccc;
}


#mobileDotCardFooter {
  color: #333333;
}

#mobileDotCardTitle {

}

#mobileDotCardDescription {
  font-weight: 400;
}
