#mobileDotCard {
  position: relative;
  padding: 0;

}

#mobileDotCardHorizonalLine {
  position: absolute;
  top: 22.5vw;
  width: 100%;
  border-bottom: 1px #eee solid;
}

#mobileDotCard-col-img{
  width: 35vw;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  float: left;
}

#mobileDotCardImg {
  padding: 0;
  height: 25vw;
  border-radius: 50%;
  width: 25vw;
  background-size: cover;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
}

#mobileDotCard-connectedDotz {
  position: absolute;
  padding: 0 0.25em;
  bottom: 0.25em;
  left: 8vw;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

#mobileDotCard-col-text {
  width: 55vw;
  position: relative;
  height: 25vw;
  padding-right: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-title {
  width: 55vw;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-title h5 {
  margin: 0.125em 0 0 0;
}

#mobileDotCard-col-credit {
  width: 55vw;
  position: absolute;
  bottom: 0;
  min-height: 1px;
  padding-right: 15px;
  margin: auto;
  float: left;
}

#mobileDotCard-col-credit h6 {
  margin: 0 0 0.125em 0;
}

#mobileDotCardCredit {

}



#mobileDotCard-col-like {
  width: 10vw;
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  margin: auto;
  float: left;
  text-align: center;
}


#mobileDotCard-col-3dots {
  position: absolute;
  bottom: 0;
  right: 6vw;
  width: 10vw;
  margin: auto;
  text-align: center;
  float: right;
}

#mobileDotCard-col-3dots h2{
  margin: 0;
}

#arrow-up-div {
  background-color: #fafafa;
  position: relative;
}

.arrow-up {
  width: 0;
  height: 0;
  margin-right: 2vw;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #EEEEEE;
}

#mobileDotCard-collapseButtons {
  height: 6em;
  padding: 1em 0;
  background-color: #eee;
}

.likesCounter {
  margin: 0;
}







.mobileDotCard-Buttons {
  font-size: 2em;
  padding: 1vw 2vw;
  /*color: #777;*/
  border-color: #ccc;
}


#mobileDotCardFooter {
  color: #333333;
}

#mobileDotCardTitle {

}

#mobileDotCardDescription {
  font-weight: 400;
}
