

<template name="userShow">
<!--{{#if subscriptionsReady}}-->
{{#with dataUser}}
        <div id="userBgImg" class="container-liquid">
            <div class="row imgCover" style="background-image: url('{{profile.coverImage}}')">
                <div class="col-xs-12 colCenter">
                </div>
            </div>
        </div>

        <div id="userShowMainDiv" class="container-fluid">

            <div class="profile-user-data-row">

                <div class="container-fluid">
                    <div class="row">
                        <div id="userData" class="col-sm-12 colCenter">
                            <img id="userImgProfile" src="{{profile.profileImage}}">
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div id="userDescription" class="col-xs-12 col-md-9 col-lg-7 colCenter txtMd">

                            <h1 class="darkText">{{username}}</h1>

                            <p>{{profile.description}}</p>

                            <div class="iconsLinksEtc">
                                <ul>

                                    {{#if profile.location.googleMapsUrl}}
                                    <li class="locationWrapper inline-block">
                                        <a href="{{profile.location.googleMapsUrl}}" target="_blank" class="mdGrey" rel="nofollow">
                                        <i class="fa fa-map-marker mdGrey"></i></a>
                                    </li>

                                    <li class="inline-block">
                                        <span>·</span>
                                    </li>
                                    {{/if}}

                                    {{#if profile.websiteUrl}}
                                    <li class="websiteWrapper inline-block">
                                        <a href="{{profile.websiteUrl}}" target="_blank" class="mdGrey" rel="nofollow">
                                          <i class="fa fa-globe mdGrey"></i>
                                        </a>
                                    </li>

                                    <li class="inline-block">
                                        <span>·</span>
                                    </li>
                                    {{/if}}

                                   {{#if profile.facebookAccountUrl}}
                                   <li class="inline-block">
                                        <a href="{{profile.facebookAccountUrl}}" target="_blank" rel="nofollow" class="userMenuIcons">
                                            <i class="fa fa-facebook-official mdGrey"></i></a>
                                    </li>
                                   {{/if}}

                                    {{#if profile.twitterAccountUrl}}
                                    <li class="inline-block">
                                        <a href="{{profile.twitterAccountUrl}}" target="_blank" rel="nofollow" class="userMenuIcons">
                                            <i class="fa fa-twitter-square mdGrey"></i></a>
                                    </li>
                                    {{/if}}

                                    {{#if profile.googleAccountUrl}}
                                    <li class="inline-block">
                                        <a href="{{profile.googleAccountUrl}}" target="_blank" rel="nofollow" class="userMenuIcons">
                                            <i class="fa fa-google-plus-square mdGrey"></i></a>
                                    </li>
                                    {{/if}}

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <ul class="menu js-socialMenu txtMd" data-user-id="42824e6543f3">
                    <li class="menu-item js-socialMenuFollowers hidden-xs" title="Followers">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="followers">
                          {{dotNumCounter}}<small class="menu-label">Dotz</small></button>
                    </li>

                    <li class="menu-item js-socialMenuFollowers" title="Followers">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="followers">
                          {{connectivityNum}}<small class="menu-label">Connections</small></button>
                    </li>

              {{#if followingCounter}}
                    <li class="_followingCounter menu-item " title="Following">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="following">
                          {{followingCounter}}<small class="menu-label">Following</small></button>
                    </li>
              {{/if}}

               {{#if followersCounter}}
                    <li class="_followersCounter menu-item js-socialMenuFollowers" title="Followers">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="followers">
                          {{followersCounter}}<small class="menu-label">Followers</small></button>
                    </li>
               {{/if}}

                </ul>


                <div id="following" class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 txtMd">
                          {{# if notMyProfile}}
                            {{#if myFollow}}
                                <button type="button" class="unFollow btn btn-success btn-md">Following</button>
                            {{else}}
                                <button type="button" class="follow btn btn-success btn-md">Follow</button>
                            {{/if}}

                          {{else}}
                              <button type="button" class="editUserAccount-btn btn btn-default btn-md hidden-xs"><i class="fa fa-pencil"></i> Edit Profile</button>
                              {{#if shareMode}}
                                  <button type="button" class="goToProfileMode btn btn-default btn-md hidden-xs"><i class="fa fa-user"></i> Back to Profile</button>
                              {{else}}
                              <button type="button" class="_goToShareMode btn btn-default btn-md hidden-xs"><i class="fa fa-sitemap"></i> Shared Lists</button>
                              {{/if}}
                          {{/if}}
                        </div>
                    </div>
                </div>

            </div>


<div>
    <div class="row user-profile-cards">

<!--<br>-->

      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-md-10 col-lg-8 colCenter">

                {{#if shareMode}}

                  {{#each sharedDotzArray}}
                    {{> dotCard}}
                  {{/each}}

                {{else}}

                  {{#each connectedDotzArray}}
                    {{> dotCard}}
                  {{/each}}
                {{/if}}


{{#if myProfileIsEmpty}}<!--fake ListCard-->
    <h2 class="txtMd lightGrey">Your profile is empty :(</h2>

  {{#if canGenerateAutoLists}}
    <hr>
    <br>

    <div class="col-xs-12 col-sm-10 colCenter" id="emptyProfile">

        <div class="card col-xs-12 colCenter" id="listCover">
            <div class="container-fluid dot-container-img-listCard"
                 style="background-image: url('https://dotz-dev-images.s3.amazonaws.com/sXLnHX3sr8vbeh8KB/dotz_How.jpg')">
                <div class="filter">
                    <div class="listCoverContent">
                            <div class="title">
                                <h2 class="whiteTxt txtMd">This Is How We Do It</h2>
                            </div>
                            <div class="col-xs-12 txtMd">
                                    <button id= "_generateAutoLists" type="button" class="btn btn-primary btn-md">Quick Start!</button>
                            </div>
                    </div>
                </div>
            </div>
        </div> <!-- end listCard -->
</div>
    {{/if}}

{{/if}}


    <div class="col-xs-12 txtMd">
        <div class="brJo">
            <br><br><br>
            <br><br><br>
        </div>
    </div>


              </div>
          </div>
      </div><!-- end wrapper -->


        </div>
    </div>
</div>


{{/with}}
<!--{{else}}-->
     <!--{{>loading2}}-->
  <!--&lt;!&ndash;&lt;!&ndash;to replace with a loading template&ndash;&gt;&ndash;&gt;-->
<!--{{/if}}-->
</template>
