<template name="userConnectivity">
        <div class="modal fade">
            <div id="modalDialog-userConnectivity" class="modal-dialog">
                <div id="modalContent-userConnectivity" class="modal-content">
                    <div class="modal-body">

                        <div class="container-fluid">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#createdByUserDotz" role="tab" data-toggle="tab">
                                        <icon class="fa fa-home"></icon>Dotz
                                    </a>
                                </li>

                                <li><a href="#createdByUserLists" role="tab" data-toggle="tab">
                                    <i class="fa fa-user"></i>Lists
                                </a>
                                </li>

                                <li><a href="#dotzConnectedByUser" role="tab" data-toggle="tab">
                                    <i class="fa fa-user"></i>Connected
                                </a>
                                </li>

                                <li><a href="#userLikes" role="tab" data-toggle="tab">
                                    <i class="fa fa-user"></i>Likes
                                </a>
                                </li>

                                <li>
                                    <a href="#peopleConnectedUserDotz" role="tab" data-toggle="tab">
                                        <i class="fa fa-envelope"></i>Connectivity
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="createdByUserDotz">
                                    <h2>createdByUserDotz Home Content Goes Here</h2>
                                    <img src="http://lorempixel.com/400/400/cats/1" alt="Cats"/>
                                </div>

                                <div class="tab-pane fade active in" id="createdByUserLists">
                                    <h2>listsConnectedByUser Home Content Goes Here</h2>
                                    <img src="http://lorempixel.com/400/400/cats/1" alt="Cats"/>
                                </div>

                                <div class="tab-pane fade" id="dotzConnectedByUser">
                                    <h2>connectionsMadeByUserData:</h2>
                                    <br>
                                  {{#each connectionsMadeByUserData}}
                                    {{>dotCard}}
                                  {{/each}}

                                </div>

                                <div class="tab-pane fade active in" id="userLikes">
                                    <h2>User likes</h2>
                                    <img src="http://lorempixel.com/400/400/cats/1" alt="Cats"/>
                                </div>

                                <div class="tab-pane fade" id="peopleConnectedUserDotz">
                                    <h2>Connectivity</h2>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</template>
