<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<template name="userShow">
<!--{{#if subscriptionsReady}}-->
{{#with dataUser}}
        <div id="userBgImg" class="container-liquid">
            <div class="row imgCover" style="background-image: url('{{profile.coverImage}}')">
                <div class="col-xs-12 colCenter">
                </div>
            </div>
        </div>

        <div id="followDiv" class="container-fluid">

            <div class="profile-user-data-row">

                <div class="container-fluid">
                    <div class="row">
                        <div id="userData" class="col-sm-12 colCenter">
                            <img id="userImgProfile" src="{{profile.profileImage}}">
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div id="userDescription" class="col-sm-12 col-md-9 colCenter txtMd">

                            <h1 class="darkText">{{username}}</h1>

                            <p>{{profile.description}}</p>

                            <div class="iconsLinksEtc">
                                <ul>

                                    {{#if profile.location.googleMapsUrl}}
                                    <li class="locationWrapper inline-block">
                                        <a href="{{profile.location.googleMapsUrl}}" target="_blank" class="mdGrey" rel="nofollow">
                                        <i class="fa fa-map-marker mdGrey"></i></a>
                                    </li>

                                    <li class="inline-block">
                                        <span>·</span>
                                    </li>
                                    {{/if}}

                                    {{#if profile.websiteUrl}}
                                    <li class="websiteWrapper inline-block">
                                        <a href="{{profile.websiteUrl}}" target="_blank" class="mdGrey" rel="nofollow">
                                          <i class="fa fa-globe mdGrey"></i>
                                        </a>
                                    </li>

                                    <li class="inline-block">
                                        <span>·</span>
                                    </li>
                                    {{/if}}

                                   {{#if profile.facebookAccountUrl}}
                                   <li class="inline-block">
                                        <a href="{{profile.facebookAccountUrl}}" target="_blank" rel="nofollow" class="userMenuIcons">
                                            <i class="fa fa-facebook-official mdGrey"></i></a>
                                    </li>
                                   {{/if}}

                                    {{#if profile.twitterAccountUrl}}
                                    <li class="inline-block">
                                        <a href="{{profile.twitterAccountUrl}}" target="_blank" rel="nofollow" class="userMenuIcons">
                                            <i class="fa fa-twitter-square mdGrey"></i></a>
                                    </li>
                                    {{/if}}

                                    {{#if profile.googleAccountUrl}}
                                    <li class="inline-block">
                                        <a href="{{profile.googleAccountUrl}}" target="_blank" rel="nofollow" class="userMenuIcons">
                                            <i class="fa fa-google-plus-square mdGrey"></i></a>
                                    </li>
                                    {{/if}}

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <ul class="menu js-socialMenu txtMd" data-user-id="42824e6543f3">
                    <li class="menu-item js-socialMenuFollowers hidden-xs" title="Followers">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="followers">
                          {{dotNumCounter}}<small class="menu-label">Dotz</small></button>
                    </li>

                    <li class="menu-item js-socialMenuFollowers" title="Followers">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="followers">
                          {{connectivityNum}}<small class="menu-label">Connections</small></button>
                    </li>

                    <li class="menu-item " title="Following">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="following">
                          {{followingCounter}}<small class="menu-label">Following</small></button>
                    </li>

                    <li class="menu-item js-socialMenuFollowers" title="Followers">
                        <button class="button button--chromeless" data-action="show-follow-list" data-action-value="followers">
                          {{followersCounter}}<small class="menu-label">Followers</small></button>
                    </li>
                </ul>


                <div id="following" class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 txtMd">
                          {{# if notMyProfile}}
                            {{#if myFollow}}
                                <button type="button" class="unFollow btn btn-success btn-md">Following</button>
                            {{else}}
                                <button type="button" class="follow btn btn-success btn-md">Follow</button>
                            {{/if}}

                          {{else}}

                              <button type="button" class="editUserAccount-btn btn btn-default btn-md"><i class="fa fa-pencil"></i> Edit Profile</button>

                          {{/if}}
                        </div>
                    </div>
                </div>

            </div>


            <div>
                <div class="row user-profile-cards">

<br>


      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-md-10 col-lg-8 colCenter">

              {{#if connectedDotzArray}}

                  {{#each connectedDotzArray}}
                    {{> dotCard}}
                  {{/each}}

              {{else}}

              <div class="col-xs-12 txtMd">

                  <hr>
                  <br>
                  <button type="button" class="_createDot btn btn-default btn-md"><i class="fa fa-circle-o"></i> Create Dot</button>

                  <button type="button" class="_createList btn btn-default btn-md"><i class="fa fa-list-ul"></i> Create List</button>

                  <a href="{{pathFor 'search'}}" class="{{currentRoute 'search'}}">
                      <button type="button" class="btn btn-default btn-md"><i class="fa fa-search"></i> Search Dotz</button>
                  </a>



                  <!--<iframe src="https://player.vimeo.com/video/102349505" width="500" height="281" frameborder="0"-->
                          <!--webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                  <!--&lt;!&ndash;<p><a href="https://vimeo.com/102349505">Katy Perry - This Is How We Do (Official Music Video)</a>&ndash;&gt;-->
                      <!--&lt;!&ndash;from <a href="https://vimeo.com/musicvideostv">Music Videos</a> on <a href="https://vimeo.com">Vimeo</a>.</p>&ndash;&gt;-->
<!--<br>-->
                  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/7RMQksXpQSk" frameborder="0" allowfullscreen></iframe>-->

              </div>

              {{/if}}

              </div>
          </div>
      </div><!-- end wrapper -->


        </div>
    </div>
</div>


{{/with}}
<!--{{else}}-->
     <!--{{>loading2}}-->
  <!--&lt;!&ndash;&lt;!&ndash;to replace with a loading template&ndash;&gt;&ndash;&gt;-->
<!--{{/if}}-->
</template>
