#create-dot-modal {
  position: relative;
}

#create-dot-modal .exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  z-index: 1;
}

.add-image-create-modal {
  font-size: large;
  padding-top: 0.25em;
  padding-left: 0;
}

.exit-btn .btn-delete {
   color: #C5C5C5;
   background-color: transparent;
   border-color: #C5C5C5;
 }

.exit-btn .btn-delete:hover {
  color: #d9534f;
  background-color: transparent;
  border-color: #d43f3a;
}


#create-dot-modal .modal-title {
  background-color: #4A89BF;
  border-radius: 5px 5px 0 0;
  margin-bottom: 2em;
}


.modal-title h3 {
  color: #ffffff;
}

#create-dot-modal label {
  display: none;
}

.tab-content {
  background-color: #fafafa;
  border-bottom: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-right: #ddd solid 1px;
}

.tab-content .tab-pane {
  padding: 1em;
  /*background-color: green;*/
}

.tab-content .tab-height{
  min-height: 6em;
}

.active {
  background-color: #fafafa;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fafafa;
}

#upload .alert {
  height: 15em;
}

.in-tab-wrapper {
  background-color: #fafafa;
  padding: 1em;
  min-height: 5em;
}

.autoform-tags-field .bootstrap-tagsinput {
  margin-bottom: 0;
}


.nav-tabs > li {
  float: left;
  margin-bottom: -2px;
  text-align: center;
}

.nav-tabs i {
  padding-right: 0.25em;
}

.map-container-create-dot {
  width: 100%;
  max-width: 100%;
  height: 22.5em;
}

. btns-create-dot {
  padding-top: 1em;
}

/*.createBtn {*/
  /*margin: 0.5em 1em;*/
/*}*/

.btns-create-dot-row {
  margin-top: 1em;
  padding: 0.5em 0;
  margin-bottom: 1em;
  /*border-top: #ccc solid 1px;*/
  text-align: center;
}

.dot-img-create-dot {
  /*width: 18em;*/
  height: 18em;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  /*border-radius: 50%;*/
  background-color: #eee;
}

.imagePreview {
  background-color: #ddd;
}

.file {
  margin-bottom: 0.3em;
}

button .collapsed {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#repeated-btn {
  margin: 0.5em 0 1.5em 0;
}

.formDotTypeIcons {
  padding: 0.5em;
}


.btn-file {
  position: relative;
  overflow: hidden;
}

.image .btn-file {
  padding: 0.5em 0;
}

.tab-pane .btn-file {
  padding: 0.5em 0 0 0;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#addDotImage-list {
  display: none;
}

#addDotImage, #editDotImage {
  display: none;
}

.image-create-preview {
  padding: 1em 1em 0 1em;
  background-color: #fafafa;
}

.nav-tabs li i {
  font-size: 1.125em;
}

/**/

#titleFieldFeedback {
  position: absolute;
  color: #ccc;
  top: 0.25em;
  right: -1.25em;
  font-size: 1.125em;
}

#createToMyProfile {
  width: 25%;
}



