


.modal-title h3 {
  color: #ffffff;
}

#create-dot-modal label {
  display: none;
}

.tab-content {
  background-color: #fafafa;
  border-bottom: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-right: #ddd solid 1px;
}

.tab-content .tab-pane {
  padding: 1em;
  /*background-color: green;*/
}

.tab-content .tab-height{
  min-height: 6em;
}

.active {
  /*background-color: #fafafa;*/
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fafafa;
}

#upload .alert {
  height: 15em;
}

.in-tab-wrapper {
  /*background-color: #fafafa;*/
  padding: 1em;
  min-height: 5em;
}

.autoform-tags-field .bootstrap-tagsinput {
  margin-bottom: 0;
}


.nav-tabs > li {
  float: left;
  margin-bottom: -2px;
  text-align: center;
}

.nav-tabs i {
  padding-right: 0.25em;
}

. btns-create-dot {
  padding-top: 1em;
}

/*.createBtn {*/
  /*margin: 0.5em 1em;*/
/*}*/

.btns-create-dot-row {
  margin-top: 1em;
  padding: 0.5em 0;
  margin-bottom: 1em;
  /*border-top: #ccc solid 1px;*/
  text-align: center;
}

.dot-img-create-dot {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border-radius: 50%;
  /*padding-top: 2vh;*/
  /*padding-left: 4vh;*/
  font-size: 20px;
  margin-right: 20px;
  /*background-color: #eee;*/
}

.imagePreview {
  background-color: #ddd;
}

.file {
  margin-bottom: 0.3em;
}

button .collapsed {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#aldeedUrlHidden{
  desplay: none;
}

#repeated-btn {
  margin: 0.5em 0 1.5em 0;
}

.formDotTypeIcons {
  padding: 0.5em;
}



#addDotImage-list {
display: none;
}

#addDotImage, #editDotImage {
display: none;
}

.image-create-preview {
padding: 1em 1em 0 1em;
background-color: #fafafa;
}

.nav-tabs li i {
font-size: 1.125em;
}

/**/

#titleFieldFeedback {
  position: absolute;
  color: #ccc;
  top: 0em;
  right: -1.25em;
  font-size: 1.125em;
}

#createToMyProfile {
  width: 25%;
}

/*.nonEditAble {*/
  /*cursor: not-allowed;*/
  /*background-color: #EEE;*/
  /*color: #9E9999;*/
/*}*/

