<template name="login">

    <div class="col-xs-12 colCenter">

        <form id="login" class="login-div">

            <!--<button id="loginFacebookBtn" class="loginWithBtn btn-facebook btn btn-primary">-->
                <!--Login with Facebook-->
            <!--</button>-->

            <!--<button id="loginGoogleBtn" class="loginWithBtn insert btn  btn-primary">-->
                <!--Login with Google-->
            <!--</button>-->

            <!--<button id="loginTwitterkBtn" class="loginWithBtn insert btn  btn-primary">-->
                <!--Login with Twitter-->
            <!--</button>-->

            <!--<span class="or-wrapper">-->
                <!--<span class="or-text greyText">or</span>-->
            <!--</span>-->


            <div class="form-group has-feedback">
                <!--<label for="emailAddress">Email Address</label>-->
                <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
                <i class="fa fa-envelope form-control-feedback"></i>
            </div>

            <div class="form-group has-feedback">
                <!--<label for="password"><span class="pull-left">Password</span></label>-->
                <input type="password" name="password" class="form-control" placeholder="Password">
                <i class="fa fa-key form-control-feedback"></i>
            </div>

            <div class="form-group txtMd" >
              {{#if isSpinnerOn}}
                  <button id="loginButton" type="submit" class="createBtn transparent insert btn  btn-primary has-spinner active">
                      <span class="spinner"><i class="fa fa-spinner lightGrey fa-spin-custom"></i></span>login</button>
              {{else}}
                  <button id="loginButton" type="submit" class="createBtn insert btn  btn-primary">login</button>
              {{/if}}
            </div>

        </form>
        <p class="greyText smTxt txtMd">
            <span class="switch-to">Don't have an account? <a href="" id="switchToSignUp">Sign Up</a><br></span>.
            <span><a class="" href="" id="recoverPassword">Forgot your Password?</a></span>
            <!--{pathFor 'recover-password'}}-->
        </p>

    </div>


</template>


