<template name="feed">

<div class="container-fluid">

{{#if feedDotz}}
    <!--{{#if Template.subscriptionsReady}}-->

        <div class="row feed-cards">
            <div class="col-xs-12">
              {{#each feedDotz}}
                {{> dotCard}}
              {{/each}}
            </div>
        </div>

    <!--{{else}}-->

        <!--<div class="row row-loading">-->
            <!--<div class="col-xs-12">-->
              <!--{{>loading2}}-->
            <!--</div>-->
        <!--</div>-->

    <!--{{/if}}-->

<!--{{else}}-->

  <!--{{> searchBox}}-->
    <!--&lt;!&ndash;<div class="jumbotron text-center" style="padding: 20px;">&ndash;&gt;-->
        <!--&lt;!&ndash;<h2>Welcome Dotz :)</h2>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<p>Welcome :)</p>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<p><a class="btn btn-success" href="/main/search" role="button">Start Discover The City</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<p style="font-size: 16px; color: #aaa;">Tel Aviv</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

{{/if}}

</div>


</template>
