<template name="feed">
<div class="container-fluid" id="feed">

    {{#if feedDotz}}
        <br>
        <br>
        <br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-lg-8 colCenter">

                  {{#each renderFeedDotz}}
                    {{#if isDotValid}}
                      {{> dotCard}}
                    {{/if}}
                  {{/each}}

                </div>
            </div>
        </div><!-- end wrapper -->

    {{else}}

      {{> searchBox}}

    {{/if}}

</div>
</template>
