<!-- !!!!@@###### if you want to change the name change it also in connectDotCard helpers-->
<template name="findUsersToFollowModal">
    <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div id="create-dot-modal" class="container-fluid">

                    <div class="exit-btn">
                        <a href="#"><button class="btn round btn-delete btn-sm" id="exitBtn"><i class="fa fa-times"></i></button></a>
                    </div>

                    <div class="row">

                        <div class="modal-title col-xs-12 colCenter">

                            <div class="row">
                                <h3 class="txtMd">Find Users To Follow</h3>
                            </div>

                        </div>


                        <div class="container-fluid">
                            <div class="row search-results-row">
                                <div class="col-xs-12 col-sm-10 col-md-8 colCenter">

                                      <div>
                                            <ul>
                                              {{#each usersList}}
                                                  <div class="user-card-search-wrapper">
                                                    {{> userCardSearch}}
                                                  </div>
                                              {{/each}}
                                            </ul>

                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</template>
