<template name="findUsersToFollowModal">
    <div class="modal fade" data-keyboard="false">
        <!--data-backdrop="static"-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div id="findUsersToFollowModal" class="container-fluid">

                    <!--<div class="row">-->

                        <div class="col-xs-12 colCenter">

                            <br>
                            <h4><strong>Suggestions just for you:</strong></h4>

                            <div class="row">

                                <div class="col-xs-12 col-sm-8">
                                    <p>Welcome :)  Here are some suggestions for you. We recommend following all of them!</p>
                                </div>

                                <div class="col-xs-12 col-sm-6 pull-right">
                                    <a href="">

                            {{#if spinnerIsOn}}
                                <button class="btn round btn-primary btn-xs has-spinner active pull-right" id="continueBtn">{{numberOfUsersToFollow}}</button>


                            {{else}}

                                <button class="btn transparent round btn-primary btn-xs has-spinner active pull-right" id="continueBtn">
                                    <span class="spinner"><i class="fa fa-spinner lightGrey fa-spin-custom"></i></span>{{numberOfUsersToFollow}}</button>

                            {{/if}}

                                    </a>



                                  {{#unless isUserAlreadySelectedAll}}
                                    <a href=""><button class="btn round btn-default btn-xs pull-right" id="selectAllUsersToFollow">
                                        <i class="fa fa-square-o"></i> Select All
                                    </button></a>

                                  {{else}}
                                      <a href=""><button class="btn round btn-default btn-xs pull-right" id="deSelectAllUsersToFollow">
                                          <i class="fa fa-check-square-o"></i> Select All
                                      </button></a>
                                  {{/unless}}


                                </div>

                                <br>

                            </div>
                        </div>


                        <div class="container-fluid">
                            <div class="row search-results-row" id="users">
                                <div class="col-xs-12 col-sm-10 col-md-8 colCenter">

                                      <div>

                                          <ul>
                                              {{#each usersList}}
                                                  <div class="user-card-search-wrapper">
                                                    {{#with userData}}
                                                      {{> userCardSearch}}
                                                    {{/with}}
                                                  </div>
                                              {{/each}}
                                            </ul>

                                      </div>
                                </div>
                            </div>
                        </div>


                    <!--</div>-->
                </div>


            </div>
        </div>
    </div>
</template>
