
#searchToConnect .search-results-row {
  background-color: transparent;
}

.lg-form {
  font-size: 1.5em;
  line-height: 2em;
  height: 40px;
  padding: 1em;
}

.nav-pills .search-btns {
  display: inline-block;
  width: 25%;
  margin-bottom: 2em;
}

.nav-pills li a {
  border: #337AB7 solid 1px;
}

.nav-pills .active {
  background-color: transparent;
}

#searchBoxInput {
  margin-bottom: 5vh;
}
