<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>


        <div>

{{#if currentUser}}

    <span class="logo">
        <a class="navbar-brand" href="/dotz"><strong>Dotz:</strong></a>
    </span>


{{else}}

    <span class="logo">
        <a class="navbar-brand" href="/dotz"><strong>Dotz:</strong></a>
    </span>

{{/if}}





        <span>
              <form class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
                  <div class="form-group has-feedback">
                      <input id="searchBoxNavBar" type="text" class="searchNav form-control" placeholder="Search" autocomplete="off">
                      <i id="search-icon" class="fa fa-search form-control-feedback"></i>
                  </div>

              </form>
          </span>

        </div>


        <!--&lt;!&ndash;show the current dot/list Show&ndash;&gt;-->
          <!--<div id="whereIAm" class="noneWhere">-->
              <!--<div>-->
                  <!--<img class="hereWithImg" src="{{hereWithImg}}">-->
                  <!--<span class="iAmHere">{{iAmHere}}</span>-->
              <!--</div>-->
          <!--</div>-->

	    </div>



	    <div id="navbar-collapse" class="collapse navbar-collapse">
	    	{{#if currentUser}}
					{{> authenticatedNavigation}}
	      {{else}}
	      	{{> publicNavigation}}
	      {{/if}}

	    </div>



	  </div>
	</nav>
</template>
