<template name="createNewDot2">
<div id="container-createNewDot" class="container-fluid">

  <div class="header-fixed">

        <!--header-->
        <div id="header-createNewDot" class="row background-{{selectedType}}">

            <h2 class="text-center"><strong>Create a new dot:</strong></h2>

        </div>

        <!--nav bar - dot type Icons-->
        <div id="navBar-createNewDot" class="row background-{{selectedType}}">

            <!--<div id="navBar-top-createNewDot" class="row">-->
                <!---->
            <!--</div>-->

            <!--<div id="navBar-bottom-createNewDot" class="row">-->

            <!--</div>-->



            <div id="navBarButtons-createNewDot" class="colCenter">

                <!--<div class="col-xs-1">-->
                    <!--&lt;!&ndash; spacer :) &ndash;&gt;-->
                <!--</div>-->


                <!--Link-->
                <div id="" class="col-xs-2 dotTypeButtonCol-createNewDot">
                    <button id="link" type="button" class="btn btn-full-trans">
                        <div class="btn-circleDotTypeIcon btn-Link">
                            <i class="fa fa-globe fa-lg"></i>
                        </div>
                        Link
                    </button>
                </div>


                <!--Place-->
                <div id="" class="col-xs-2 dotTypeButtonCol-createNewDot">
                    <button id="place" type="button" class="btn btn-full-trans">
                        <div class="btn-circleDotTypeIcon btn-Place">
                            <i class="fa fa-map-marker fa-lg"></i>
                        </div>
                        Place
                    </button>
                    <!--<button id="place" type="button" class="btn btn-circleDotTypeIcon btn-Place">Place</button>-->
                </div>


                <!--Event-->
                <div id="" class="col-xs-2 dotTypeButtonCol-createNewDot">
                    <button id="event" type="button" class="btn btn-full-trans">
                        <div class="btn-circleDotTypeIcon btn-Event">
                            <i class="fa fa-calendar fa-lg"></i>
                        </div>
                        Event
                    </button>
                    <!--<button id="event" type="button" class="btn btn-circleDotTypeIcon btn-Event">Event</button>-->
                </div>

                <!--Media-->
                <div id="" class="col-xs-2 dotTypeButtonCol-createNewDot">
                    <button id="media" type="button" class="btn btn-full-trans">
                        <div class="btn-circleDotTypeIcon btn-Media">
                            <i class="fa fa-play fa-lg"></i>
                        </div>
                        Media
                    </button>
                    <!--<button id="media" type="button" class="btn btn-circleDotTypeIcon btn-Media">Media</button>-->
                </div>


                <!--Person-->
                <div id="" class="col-xs-2 dotTypeButtonCol-createNewDot">
                    <button id="person" type="button" class="btn btn-full-trans">
                        <div class="btn-circleDotTypeIcon btn-Person">
                            <i class="fa fa-user fa-lg"></i>
                        </div>
                        Person
                    </button>
                    <!--<button id="person" type="button" class="btn btn-circleDotTypeIcon btn-Person">Person</button>-->
                </div>

                <!--Product-->
                <!--<button id="product" type="button" class="btn btn-circleDotTypeIcon btn-product">Product</button>-->


                <!--<div class="col-xs-1">-->
                    <!--&lt;!&ndash; spacer :) &ndash;&gt;-->
                <!--</div>-->


            </div>



            <!--<div id="desktopDotShow-titleDiv" class="row">-->
            <!--<div class="col-xs-7 colCenter">-->

            <!--<div class="col-xs-2 pull-right">-->
            <!--&lt;!&ndash;Circle Action Button &ndash;&gt;-->
            <!--<a href="{{dot.linkUrl}}" target="_blank">-->
            <!--<div id="circleActionButton" class="btn-{{dot.dotSubType}} pull-right">-->

            <!--<i class="fa {{actionButtonIcon}} fa-lg"></i>-->

            <!--<p id="actionButtonName" class="text-center">{{actionButtonTitle}}</p>-->
            <!--&lt;!&ndash;Navigate?&ndash;&gt;-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->

            <!--</div>-->

            <!--</div>-->

        </div>




  <!--navBar bottom spacer-->
    <div id="navBar-bottomSpacer-createNewDot" class="row">

    </div>


  </div>
  <!--end navBar-fixed-top-->



    <!--The Form-->

    <form id="createDotForm">

        <div id="main-createNewDot" class="row">

            <!--if Link - start with url-->
          {{#if linkOrMedia}}
          <div class="row fieldBox">
            {{> url}}
              <!--<div class="hr simpleHr">-->
          </div>
          {{/if}}


            <!--The main fields-->
          <div class="row fieldBox">
            {{> title}}
          </div>
          <div class="row fieldBox">
            {{> description}}
          </div>
          <div class="row fieldBox">
            {{> img}}
          </div>
            <!--<div class="hr simpleHr"></div>-->

          {{#unless linkOrMedia}}

              <div class="row fieldBox">
                {{> webAddress}}
              </div>

          {{/unless}}

            <!-- Place fields -->
          {{#if place}}
            <div class="row fieldBox">
              {{> map}}
            </div>
          {{/if}}

          <!--Event Fields-->
          {{#if event}}
              <div class="row fieldBox">
                {{> dateComponent}}
              </div>
              <div class="row fieldBox">
                {{> map}}
              </div>
              <div class="row fieldBox">
                {{> price}}
              </div>
          {{/if}}


            <!--&lt;!&ndash;Create link form&ndash;&gt;-->
              <!--{{#if link}}-->
                <!--{{> url}}-->
                <!--<hr>-->
                <!--{{> title}}-->
                <!--<hr>-->
                <!--{{> description}}-->
                <!--<hr>-->
                <!--{{> img}}-->
              <!--{{/if}}-->

                <!--&lt;!&ndash;Create place form&ndash;&gt;-->
              <!--{{#if place}}-->
                <!--{{> map}}-->
                <!--{{> img}}-->
                <!--{{> title}}-->
                <!--{{> map}}-->
                <!--{{> price}}-->
              <!--{{/if}}-->

                <!--&lt;!&ndash;Create event form&ndash;&gt;-->
              <!--{{#if event}}-->
                <!--{{> date}}-->
                <!--{{> title}}-->
                <!--{{> description}}-->
                <!--{{> img}}-->
                <!--{{> price}}-->
                <!--{{> map}}-->
              <!--{{/if}}-->

                <!--&lt;!&ndash;Create person form&ndash;&gt;-->
              <!--{{#if person}}-->
                <!--{{> nameField}}-->
              <!--{{/if}}-->

                <!--&lt;!&ndash;Create product form&ndash;&gt;-->
              <!--{{#if product}}-->
                <!--{{> nameField}}-->
              <!--{{/if}}-->

                <!--&lt;!&ndash;Create media form&ndash;&gt;-->
              <!--{{#if media}}-->
                <!--{{> url}}-->
                <!--{{> title}}-->
                <!--{{> img}}-->
              <!--{{/if}}-->

        </div>


        <div id="footer-createNewDot" class="row text-center">

            <div class="col-xs-12">
                <button id="_createDotBtn" type="submit" class="btn btn-{{selectedType}}">Create</button>
            </div>

        </div>

    </form>



</div>


</template>
