#mobileDotCard-box {
  padding: 1vh;
  margin-bottom: 3vh;
  /*overflow-x: hidden;*/
}

#mobileDotCard {
  position: relative;
  padding: 0;

}

#mobileDotCardHorizonalLine {
  position: absolute;
  top: 22.5vw;
  width: 100%;
  border-bottom: 1px #eee solid;
}

#mobileDotCard-col-img{
  width: 28vw;
  position: relative;
  min-height: 1px;
  padding-right: 1vw;
  padding-left: 1vw;
  margin: auto;
  float: left;
}

#mobileDotCardImg {
  padding: 0;
  height: 26vw;
  border-radius: 50%;
  width: 26vw;
  background-size: cover;
  background-color: #eee;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  border: #eee solid 2px;
}

#mobileDotCard-connectedDotz {
  position: absolute;
  padding: 0 0.25em;
  bottom: 0.25em;
  left: 8vw;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

#mobileDotCard-col-text {
  width: 60vw;
  padding-top: 1vw;
  position: relative;
  height: 19vw;
  /*padding-right: 15px;*/
  margin: auto;
  float: left;
}

#mobileDotCard-col-title {
  width: 55vw;
  position: relative;
  max-height: 20vw;
  overflow-y: hidden;
  padding: 0 1vw;
  margin: auto;
  float: left;
}

#mobileDotCard-col-title h5 {
  margin: 0.125em 0 0 0;
}

#mobileDotCard-col-credit {
  width: 55vw;
  padding: 0 1vw;
  margin: auto;
  float: left;
}

#mobileDotCard-col-credit h6 {
  margin: 1vw 0 0 0;
}

#mobileDotCardCredit {

}



#mobileDotCard-col-like {
  width: 8vw;
  /* padding-top: 1vw; */
  position: relative;
  /* min-height: 1px; */
  margin-top: 8vw;
  /* padding-left: 2vw; */
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  /* margin: auto; */
  float: left;
  text-align: center;
}


#mobileDotCard-buttons {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: 6vw;*/
  /*width: 22vw;*/
  /*margin: auto;*/
  text-align: center;
  float: right;
}

#mobileDotCard-3dots {
  position: absolute;
  top: 0;
  right: 0;
}

#mobileDotCard-3dots .dropdown-menu > li > a {
  padding-left: 0;
}

/*#mobileDotCard-col-3dots h2{*/
  /*margin: 0;*/
/*}*/

#mobileDotCard-collapseButtons {
  /*height: 6em;*/
  position: relative;
  padding: 1em 0;
  background-color: #eee;
}

#connectedByTextDiv-mobileDotCard{
  /*padding-top: 2vh;*/
  /*padding-bottom: 2vh;*/
}

#connectedBy-connectorLine-mobileDotCard {
  padding-bottom: 1em;
}

#connectedByText-mobileDotCard {
  /*background-color: #eee;*/
  color: #333;
  /*padding-top: 3vw;*/
  /*padding-bottom: 1vw;*/
}

.likesCounter {
  margin: 0;
}







.mobileDotCard-Buttons {
  font-size: 2em;
  padding: 1vw 2vw;
  /*color: #777;*/
  border-color: #ccc;
}


#mobileDotCardFooter {
  color: #333333;
}

#mobileDotCardTitle {

}

#mobileDotCardDescription {
  font-weight: 400;
}
