/*  buttons division */

.btn-trans {
  color: #9a9a9a;
  background-color: transparent;
  border-color: #9a9a9a;
}

.btn-trans:hover {
  color: #333;
  background-color: #fff;
  border-color: #333;
}

.btn-full-trans {
  color: rgba(0,0,0,0.4);
  background-color: transparent;
  border-color: transparent;
}

.btn-full-trans:hover {
  color: #ccc;
  background-color: transparent;
  border-color: transparent;
}

.btn-share-check {
  color: #4C8ABF;
  background-color: transparent;
  border-color: #4C8ABF;
}

.btn-share-check:hover {
  color: #fff;
  background-color: #4C8ABF;
}

.btn-share-checked {
  color: #fff;
  background-color: #4C8ABF;
  border-color: #4C8ABF;
}

.btn-share-checked:hover {
  color: #4C8ABF;
  background-color: #fff;
}


.btn-lead {
  color: #ffffff;
  background-color: #46b8da;
  border-color: #46b8da;
}

.btn-lead:hover {
  color: #46b8da;
  background-color: transparent;
  border-color: #46b8da;
}

.btn-noLead {
  color: #46b8da;
  background-color: transparent;
  border-color: #46b8da;
}

.btn-noLead:hover {
  color: #FFFFFF;
  background-color: #46b8da;
  border-color: #46b8da;
}

.square {
  border-radius: 0px;
}

.square3 {
  border-radius: 3px;
}

.round {
  border-radius: 24px;
}
