


/*Links*/

a:hover {
  color: #4c4c4c;
  text-decoration: none;
}

/*Text Alignment*/

.txtMd {
  text-align: center;
}

.txtR {
  text-align: right;
}

.txtL {
  text-align: left;
}

.txtVertical {
  transform: rotate(90deg);
  transform-origin: right;
}




/*Text Sizes*/

.smTxt {
  font-size: 0.7em;
}

.sm2Txt {
  font-size: 12px;
}

.normalTxt {
  font-size: 1em;
}

.mdTxt {
  font-size: 1.125em;
}

.lgTxt {
  font-size: 1.5em;
}


/*colors*/

.whiteTxt {
  color: #ffffff;
}


/*darkTexts*/

.midDarkText {
  color: #777
}

.darkText {
  color: rgba(0,0,0,0.8)
}

/*greyTexts*/

.lightGrey {
  color: #d5d5d5;
}

.mdGrey {
  color: #9a9a9a;
}

.greyText {
  color: #9B998D;
}

/*text wieghts*/

.bold {
  font-weight: 600;
}

/*line heights*/

.line-h-md {
  line-height: 1.45;
}


