

.transparent-InputBox {
  flex: 1;
  border: 0;
  outline: 0;
  width: 100%;
  box-shadow: none;
}

.transparent-InputBox:focus {
  box-shadow: none;
  border-color: #e5e5e5;
}


.bottomBorderGrey {
  border-bottom: 1px solid #e5e5e5;
}
