
          /*  links division */



a h4, a h5, a h6 {
  color: #555;
}

          /*  badge division */
.badge {
  background-color: transparent;
  color: #777;
  border: #777 solid 1px;
  font-weight: 400;
}



          /*  labels division */

.label-dotz {
  border: #fff solid 1px;
  font-size: 50%;
  font-weight: 100;
  text-transform: capitalize;
  margin-left: 1em;
}

.label-dotz:hover {
  color: #fff;
}

          /*  general division */

button, a, button:hover, button:focus button:active {
  outline: none !important;
}

span a {
  color: inherit;
}

span a:hover {
  color: #337ab7;
}

#arrow-up-div {
  background-color: #ffffff;
  position: relative;
}

.arrow-up {
  width: 0;
  height: 0;
  margin-bottom: -1px;
  margin-right: 39vw;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #EEEEEE;
}




          /*  alignment division */

.no-left-pad {
  padding-left: 0;
}



          /*  text-color division */

.transparent {
  color: transparent !important;
}



           /*  spinners division */

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s ;

  /* Duration fixed since we animate additional hidden width */
}

.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

.has-spinner.active {
  cursor: progress;
  position: relative;
}

.has-spinner.active .spinner {
  opacity: 1;
  position: absolute;
  left: 49%;
  max-width: 50px;
}

.btn-xs .has-spinner.active .spinner {
  left: 34%;
}

.buttonsBar .has-spinner.active .spinner{
  left: inherit;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

           /*  end spinners division */
