
/* Person: */

.background-Person {
  background-color: #337ab7;
}

.btn-Person {
  color: #2e6da4;
  background-color: transparent;
  border-color: #2e6da4;
}

.btn-Person:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-Person:focus {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-Person:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}


/* Media: */

.background-Media {
  background-color: #d9534f;
}

.btn-Media {
  color: #d43f3a;
  background-color: transparent;
  border-color: #d43f3a;
}

.btn-Media:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-Media:focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-Media:active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}


/* Place: */

.background-Place {
  background-color: #5cb85c;
}

.btn-Place {
  color: #4cae4c;
  background-color: transparent;
  border-color: #4cae4c;
}

.btn-Place:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-Place:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-Place:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}


/* Link: */

.background-Link {
  background-color: #5bc0de;
}

.btn-Link {
  color: #46b8da;
  background-color: transparent;
  border-color: #46b8da;
}

.btn-Link:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-Link:focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-Link:active {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}


/* Event: */

.background-Event {
  background-color: #f0ad4e;
}

.btn-Event {
  color: #eea236;
  background-color: transparent;
  border-color: #eea236;
}

.btn-Event:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-Event:focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-Event:active {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}


/* Product: */

.background-Product {
  background-color: #9352D9;
}

.btn-Product {
  color: #904CCF;
  background-color: transparent;
  border-color: #904CCF;
}

.btn-Product:hover {
  color: #fff;
  background-color: #8D45C4;
  border-color: #893BB5;
}

.btn-Product:focus {
  color: #fff;
  background-color: #8D45C4;
  border-color: #893BB5;
}


.btn-Product:active {
  color: #fff;
  background-color: #8D45C4;
  border-color: #893BB5;
}



