          /*  buttons division */

.btn-trans {
  color: #fff;
  background-color: rgba(255,255,255,0.2);
  border-color: #fff;
}

.btn-trans:hover {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

          /*  links division */



a h4, a h5, a h6 {
  color: #333;
}



          /*  labels division */

.label-dotz {
  border: #fff solid 1px;
  font-size: 50%;
  font-weight: 100;
  text-transform: capitalize;
  margin-left: 1em;
}

.label-dotz:hover {
  color: #fff;
}

          /*  general division */

button, a, button:hover, button:focus button:active {
  outline: none !important;
}



          /*  alignment division */





          /*  text-color division */

.transparent {
  color: transparent !important;
}



           /*  spinners division */

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s ;

  /* Duration fixed since we animate additional hidden width */
}

.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

.has-spinner.active {
  cursor: progress;
  position: relative;
}

.has-spinner.active .spinner {
  opacity: 1;
  position: absolute;
  left: 49%;
  max-width: 50px;
}

.btn-xs .has-spinner.active .spinner {
  left: 34%;
}

.buttonsBar .has-spinner.active .spinner{
  left: inherit;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

           /*  end spinners division */
