
/*general*/
#container-createNewDot {
  background-color: #fff;
}

.header-fixed {
  /*position: fixed;*/
  /*right: 0;*/
  /*left: 0;*/
  /*z-index: 1030;*/
}

.fieldBox {
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  /*padding: 10px;*/
  /*margin: 10px;*/

  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  /*padding: 10px 14px;*/
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
}

.bottomBorder {
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}


#typeOrSearch-span {
  position: relative;
  top: 0.5em;
  color: #e5e5e5;
}


.simpleHr {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*header*/
#header-createNewDot {
  /*height: 17vh;*/
  /*border-top-left-radius: 4px;*/
  /*border-top-right-radius: 4px;*/
}

/* The Nav Bar: */
#navBar-createNewDot {
  height: 11vh;
  margin-bottom: -5.5vh;
}


#navBarButtons-createNewDot {
  width: 32%;
  margin-left: 34%;
  /*margin: auto;*/
  background-color: #FFFFFF;
  border: solid 1px rgba(0,0,0,0.1);
  border-radius: 4px;
  height: 11vh;
  /*margin-bottom: -6vh;*/
  position: absolute;
  /*padding: 5px 5%;*/
  padding-top: 1vh;
  margin-right: 5%;
}

#navBarButtons-createNewDot2 {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding-top: 1vh;
}

.dotTypeButtonCol-createNewDot {
  /*width: 18%;*/

  /*background-color: blue;*/
  /*position: relative;*/
  /*min-height: 1px;*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*display: block;*/
}


.btn-circleDotTypeIcon {
  /*display: inline-block;*/
  /*position: relative;*/
  /*position: absolute;*/
  /*margin-top: 0.5vh;*/
  margin-bottom: 0.5vh;
  outline: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*user-select: none;*/
  cursor: pointer;
  box-sizing: border-box;
  min-width: 0;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  padding: 0;
  /*padding-top: 12px;*/
  /*z-index: 9999;*/
  /*background-color: red;*/
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn-circleDotTypeIcon .fa {
  font-size: 1.5vw;
  vertical-align: initial;
}

#navBar-bottomSpacer-createNewDot {
  height: 5vh;
  background-color: #FFFFFF;
}

#main-createNewDot {
  /*min-height: 30vh;*/
  /*background-color: #FFFFFF;*/
  padding: 0 15px;;
}

.imgSection_createDot {
  min-height: 100px;
}

.createDotFields {
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer-createNewDot {
  margin-bottom: 2vh;
  height: 10vh;
  /*width: 100%;*/
  /*background-color: #fafafa;*/

  /* fixed: */
  /*position: fixed;*/
  /*right: 0;*/
  /*left: 0;*/
  /*z-index: 1030;*/
}

#_createDotBtn {
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
}

.nav-pills .active .btn-circleDotTypeIcon {
  background-color: #ffffff;
  color: #333;
}

.nav-pills .active span {
  color: #ffffff;
  font-weight: bold;
}

.nav-pills .btn-circleDotTypeIcon {
  background-color: transparent;
  color: #fff;
  border: none;
}
