
<template name="date">
    <div class="input-group date" data-provide="datepicker">
        <label for="fromDate">From</label>
        <input id="fromDate" type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="input-group date" data-provide="datepicker">
        <label for="fromDate">Until</label>
        <input id="untilDate" type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
</template>
