<template name="tempModal">
    <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div id="create-dot-modal" class="container-fluid">
                    <div class="exit-btn">
                        <a href="#"><button class="btn round btn-delete btn-sm" id="exitBtn"><i class="fa fa-times"></i></button></a>
                    </div>

                    <div class="row">
                        <div class="modal-title col-xs-12 colCenter">
                            <div class="row">
                                <h3 class="txtMd">Create New Dot</h3>
                            </div>
                        </div>
                        <div class="row colCenter">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button id="link" type="button" class="btn btn-primary">Link</button>
                                        <button id="place" type="button" class="btn btn-primary">Place</button>
                                        <button id="event" type="button" class="btn btn-primary">Event</button>
                                        <button id="person" type="button" class="btn btn-primary">Person</button>
                                        <button id="product" type="button" class="btn btn-primary">Product</button>
                                        <button id="media" type="button" class="btn btn-primary">Media</button>
                                    </div>
                                </div>
                                <div id="content row">
                                    <div class="col-md-6 ">
                                          <form id="createDotForm">
                                              <!--Create link form-->
                                              {{#if link}}
                                                {{> url}}
                                                {{> title}}
                                                {{> description}}
                                                {{> img}}
                                              {{/if}}
                                              <!--Create place form-->
                                              {{#if place}}
                                                {{> map}}
                                                {{> img}}
                                                {{> title}}
                                                {{> map}}
                                                {{> price}}
                                              {{/if}}
                                              <!--Create event form-->
                                              {{#if event}}
                                                {{> date}}
                                                {{> title}}
                                                {{> description}}
                                                {{> img}}
                                                {{> price}}
                                                {{> map}}
                                              {{/if}}
                                              <!--Create person form-->
                                              {{#if person}}
                                                {{> nameField}}
                                              {{/if}}
                                              <!--Create product form-->
                                              {{#if product}}
                                                {{> nameField}}
                                              {{/if}}
                                              <!--Create media form-->
                                              {{#if media}}
                                                {{> url}}
                                                {{> title}}
                                                {{> img}}
                                              {{/if}}
                                              <button id="_createDotBtn" type="submit" class="btn btn-primary">Publish</button>
                                          </form>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
    </div>
</template>

<template name="nameField">
    <input type="text" id="title" placeholder="Enter the person name" required>
</template>

<template name="title">
    <input type="text" id="title" placeholder="Title" class="form-control" required>
</template>

<template name="description">
    <input type="text" id="description" placeholder="Description" class="form-control">
</template>


<template name="date">
    <div class="input-group date" data-provide="datepicker">
        <label for="fromDate">From</label>
        <input id="fromDate" type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="input-group date" data-provide="datepicker">
        <label for="fromDate">Until</label>
        <input id="untilDate" type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
</template>

<template name="price">
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input id="price" type="text" class="form-control" placeholder="price">
    </div>
</template>

