

#createNewList_modal {
  border-radius: 0;
}

#closeBtn_EditDotModal {
  font-size: 22px;
  margin-top: 10px;
}

#header-createNewList_modal {
  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.7);
  margin-top: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}


#footer-createNewList_form {
  height: 85px;
  padding: 25px;
  /*background-color: rgba(0,0,0,0.4);*/
  /*margin-top: 20px;*/
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}

#createNewListButton {
  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.7);
  width: 30%;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
}

#createNewListButton:hover {
  background-color: rgba(0,0,0,0.4);
  color: #FFFFFF;
}


/*privacy buttons*/

.privacyBtns {
  padding: 4px;
  height: 130px;
}

.privacyBtns:hover {
  /*background-color: rgba(0,0,0,0.1);*/
  border: 1px solid rgba(0,0,0,0.3);
  cursor: pointer;
}

.selectedPrivacyBtn {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
}

#accordion_editDot_Form  {
  margin-top: 25px;
}

#accordion_editDot_Form  {
  margin-bottom: 0px;
}

#accordion_editDot_Form .panel  {
  border-radius: 0px;
}

#accordion_editDot_Form .panel-heading  {
  background-color: rgba(0,0,0,0.1);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#accordion_editDot_Form .panel-title  {
  font-size: 13px;
  font-weight: 600;
}

#accordion_editDot_Form .panel-title .fa {
  margin-right: 10px;
}


