
/* General */

#googleDotCard-box {
  /*margin-bottom: 3vh;*/
  padding: 3vh 0;
  border-bottom: rgba(0,0,0,0.2) solid 1px;
}


/* left side: */
#_addDotFromGoogleResults .fa {
  margin-top: 7vh;
}






/* center: */

#img-googleDotCard {
  padding: 0;
  height: 15vh;
  border-radius: 50%;
  width: 15vh;
  background-size: cover;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  /*border: #e5e5e5 solid 2px;*/
}



/* right side */

#title-googleDotCard h5 {
  margin-top: 0;
}
