<template name="signup">

    <div class="col-xs-12 colCenter">

      <form id="signup" class="signup">

        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="userName" class="form-control" placeholder="User Name">
        </div>

        <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
          <input type="submit" class="btn signupBtn" value="Sign Up">
        </div>

      </form>

      <p class="login alreadyText">Already have an account? <a href="#">Log In</a>.</p>

    </div>


</template>


