<template name="signUpModal">
    <div class="modal fade" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <!--<h4 class="modal-title">Create New Dot:</h4>-->
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <h4>Sign Up:</h4>
                        {{> signup}}
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

