<template name="index">
  <!--<div class="jumbotron text-center" style="padding: 20px;">-->
    <!--<h2>Dotz</h2>-->
    <!--<p>Welcome :)</p>-->
    <!--<p><a class="btn btn-success" href="/main/search" role="button">Start Discover The City</a></p>-->
    <!--<p style="font-size: 16px; color: #aaa;">Tel Aviv</p>-->
  <!--</div>-->




    <!--<div class="alert alert-danger landing-alert">-->
        <!--<div class="container text-center">-->
            <!--<h5>Hello all!</h5>-->
        <!--</div>-->
    <!--</div>-->
<div id="landingPage">

    <div class="wrapper">
        <div class="landing-header">
            <div class="container">
                <div class="motto">
                    <h1 class="title-uppercase">CONNECT THE CITY</h1>
                    <!--<br>-->
                    <h3 class="whiteTxt">Discover The Most Inspiring Dotz Around You.</h3>
                    <br />
                    <span>
                      <a class="signup btn btn-lead" href="" role="button">Sign up</a>
                    </span>
                  <span>
                     <a class="login btn btn-success" href="" role="button">Login</a>
                  </span>

                    <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn"><i class="fa fa-play"></i>Watch video</a>-->
                    <!--<a class="btn">Download</a>-->






<!--newLoginSignUP-->

                  {{>signInWithEmailModal}}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <!--<img src="https://s3.amazonaws.com/themeteorchef-cdn/don_carlton.png" alt="Don Carlton holding business card.">-->
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="page-header">
                                <h3>Sign In to DCS</h3>
                                <p>Hey there team maties! Come on aboard!</p>
                            </div>
                            <ul class="btn-list">
                                <li><button type="button" class="btn btn-social-login btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</button></li>
                                <li><button type="button" class="btn btn-social-login btn-google"><i class="fa fa-google"></i> Sign in with Google</button></li>
                                <li><button type="button" class="btn btn-social-login btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</button></li>
                                <li><button type="button" class="btn btn-social-login btn-success" data-toggle="modal" data-target="#sign-in-with-email-modal"><i class="fa fa-envelope"></i> Sign in with Email</button></li>
                            </ul>
                        </div>
                    </div>



















                </div>

              <div class="footerLandingPage">

                  <div class="copyright pull-right">
                      &copy; 2015, made with <i class="fa fa-heart heart"></i> in Tel Aviv
                  </div>

              </div>


            </div>
        </div>
    </div>


    <!--<footer class="footerLandingPage footer-demo section-dark">-->
        <!--<div class="container">-->
            <!--<div class="copyright pull-right">-->
                <!--&copy; 2015, made with <i class="fa fa-heart heart"></i> in Tel Aviv-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->

</div>









</template>
