
#listCard-box {
  padding: 2vh;
}

#listCardLikeSide {
  height: 22vh;
  padding-right: 2vh;
}


#listCardLikeSide .likeBtn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  /*margin: 0 auto;*/
  text-align: center;
  width: 5vh;
  /*vertical-align: middle;*/
  font-size: 3rem;
  margin-top: 7vh;
  padding: 1vh;
}

#listCardLikeSide .likesCounter {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  text-align: center;
}


#listCardImgSide {
  padding: 0;
  height: 22vh;
  /*background-color: #337ab7;*/
}


#listCardImgSide .filter {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

#listCardImgSide .imgSideSpacer {
  height: 78%;
}

#listCardImgSide .listCardUser {
  margin: 1vh;
}


#listCardTextSide {
  /*padding: 0;*/
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  /*padding: 10vh;*/
  /*width: 100%;*/
}

#listCardTextSide .listCardFooter {
  padding: 0vh 2vh 0.5vh 2vh;
  height: 4vh;
}

#listCardTextSide .listCardFooter .btn {
  margin-left: 0.5vh;
}


#listCard {
  /*border-radius: 6px;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  /*margin-bottom: 3.5vh;*/
  /*max-height: 70vh;*/
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  height: 100%;
}

#listCard .greyText {
  color: rgba(0, 0, 0, 0.5);
}

.listCardHeader {
  /*height: 35vh;*/
}

#listCard .listCardHeader .container-fluid {
  /*background-color: rgba(255, 255, 255, 0.95);*/
}

.dot-container-img-listCard {
  position: relative;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  /*border-radius: 4px;*/
  padding: 0;
  /*border-radius: 50%;*/
  /*padding: 0.5em;*/
  /*margin-top: 3px;*/
}

#round-overlay {
  background-image: radial-gradient(12.5vh at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 87%, rgba(255, 255, 255, 0) 87%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 22vh;
}

#round-overlay:hover {
  background-image: radial-gradient(12.5vh at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 115%, rgba(255, 255, 255, 0) 115%, rgba(255, 255, 255, 0) 100%);
}

#listCard .content {
  /*height: 20vh;*/
  /*width: 40%;*/
  /*padding: 1vh 1vh 1vh 1vh;*/
  height: 16vh;
  /*background-color: rgba(255, 255, 255, 0.4);*/
}

#listCard .content .listCardTitle {
  /*height: 6vh;*/
  /*padding: 0.2vh 0vh 0.3vh 0vh;*/
  padding-top: 1vh;
  /*line-height: 4vh;*/
  margin-top: 0;
  margin-bottom: 0;
}

#listCard .content .listCardTitle .h2Title {
  margin: 0;
  font-weight: 400;
  font-size: 2.0rem;
  color: rgba(0, 0, 0, 0.8);
}

#listCard .content .listCardSpacer {
  /*height: 1vh;*/
}

#listCard .content .listCardText {
  /*height: 9vh;*/
  padding-top: 1vh;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
}

#listCard .content .listCardText > p {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}


#listCard .listCardUser {
  /*height: 20%;*/
  padding: 0.5vh 0.5vh 0.5vh 0vh;
  vertical-align: top;
  /*background-color: rgba(255, 255, 255, 0.95);*/
}

#listCard .listCardUser .userImgIcon {
  position: relative;
  /*top: 1vh;*/
  /*bottom: 1vh;*/
  height: 3vh;
  width: 3vh;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  /*border-color: white;*/
  /*border-width: 0px;*/
  /*border-style: solid;*/
  border-radius: 50%;
}

#listCard .listCardUser .smTxt {
  position: relative;
  /*top: -0.7em;*/

}


#listCard .listCardIcons {
  height: 3vh;
  padding: 0.5vh 0.5vh 0.5vh 0vh;
  margin: 0;
}


#listCard .footer {
  /*height: 4vh;*/
  background-color: #FFFFFF;
  line-height: 30px;
  padding-left: 2vh;
  padding-right: 2vh;
  /*padding-top: 1vh;*/
  padding-bottom: 0.5vh;

}

#listCard .btn-connect-div {
  padding-left: 0;
  padding-right: 0;
}

#listCard .btn-connect-div .btn {
  height: 3.5vh;
}

#listCard > .title {
  margin: 0;
  padding: 30px 0 0;
}

#listCard .content .title {
  margin: 10px 0 20px 0;
  position: relative;
  z-index: 3;
  /*text-transform: uppercase;*/
  color: #333333;
}

#listCard .content .title {
  font-weight: 400;
  /*color: #9A9A9A;*/
  /*margin: 30px 0 15px;*/
  font-size: 24px;
  line-height: 30px;
  /*-moz-osx-font-smoothing: grayscale;*/
  -webkit-font-smoothing: antialiased;
  font-family: "Playfair Display","Raleway","Helvetica Neue",Arial,sans-serif;
}


#listCardOtherSide {
  padding:0;
  margin: 0;
}


/*ListCover*/


#listCover {
  /*border-radius: 6px;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: rgba(92,184,92, 0.6);
  /*margin-bottom: 3.5vh;*/
  /*max-height: 70vh;*/
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  height: 22vh;
  filter: ;
}


#listCover .dot-container-img-listCard {
  height: 100%;
}



#listCover .filter {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
  height: 100%;
  /*/!*text-align: center;*!/*/
  /*opacity: 0.3;*/
  /*filter: alpha(opacity=0);*/
}

#listCover .listCardTitle {
  width: 80%;
  height: 17vh;
  margin: auto;
  padding-top: 2vh;
}

#listCover .listCardTitle .h2Title {
  color: #FFFFFF;
  text-align: center;
}


#listCover .listCoverHr {
  width: 30%;
  margin: auto;
  border-color: red;
  height: 2vh;
}



#listCover .listCardFooter {
  height: 5vh;
  padding: 1vh;
}


#listCover .listCardFooter .btn {
  margin-left: 0.5vh;
}


#listCover .listCardFooter .connect {
  /*background-color: #FFFFFF;*/
  /*color: #FFFFFF;*/
  /*border-color: #FFFFFF;*/
}

#listCover .listCardFooter .disConnect {
  background-color: transparent;
  /*color: #FFFFFF;*/
  /*border-color: #FFFFFF;*/
}

#listCover .listCardFooter .disConnect:hover {
  background-color: rgba(255,255,255, 0.6);
  color: red;
  border-color: red;
}






