#desktopDotCard-lastDot-box {
  /*margin: 2vh 0;*/
  /*margin-left: 0;*/
  /*border-left: transparent;*/
  /*padding: 0 1vh 0 0;*/
}




#desktopDotCard-lastDot {
  padding: 5vh 0 0 0;
  position: relative;
}


#desktopDotCard-lastDot-col-connectLine {
  width: 11%;
  position: relative;
  float: left;
  text-align: center;
  border-left: 2px dashed #e5e5e5;
  padding-top: 19vh;
  margin-top: -9vh;
  border-bottom: 2px dashed #e5e5e5;
}

#desktopDotCard-lastDot-col-connectLine-inListShow {
  width: 7%;
  position: relative;
  float: left;
  text-align: center;
  padding-top: 19vh;
  margin-top: -9vh;
}

#desktopDotCard-col-img-lastDot{
    width: 22%;
    margin-right: 1%;
   position: relative;
   /*min-height: 1px;*/
   /*padding-right: 1vw;*/
   /*!*padding-left: 1vw;*!*/
   /*margin: auto;*/
   float: left;
 }

#lastDot-desktopDotCard-img {
  color: #E5E5E5;
  border-radius: 50%;
  /*margin-left: 0;*/
  padding: 0;
  border: 2px #e5e5e5 dashed;
  text-align: center;
  height: 20vh;
  font-size: 14vh;
  width: 20vh;
  background-size: cover;
  /* background-color: #e5e5e5; */
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  /* border: #e5e5e5 solid 2px; */
}

#lastDotText-desktopDotShow {
  width: 66%;
  position: relative;
  float: left;
}

#lastDotText-desktopDotShow h4, #lastDotText-desktopDotShow h5  {
  margin: 3px 0 0 0;
}

#desktopDotCard-lastDotButtons {
  padding: 4vh 0 7vh 0;
  text-align: center;
}

#desktopDotCard-lastDotButtons i {
  margin-top: .2em;
}

#share-Q-modal-desktop .modal-footer {
  text-align: center;
}

#share-Q-modal-desktop button {
  /*width: 20%;*/
}


/*MOBILE ADJUSTMENT*/

@media (max-width: 767px) {

  #desktopDotCard-lastDot-box {
    height: 17vh;
  }


  #lastDot-desktopDotCard-img {
    height: 26vw;
    font-size: 17vw;
    width: 26vw;
  }

  #desktopDotCard-col-img-lastDot {
    width: 27vw !important;
    padding-right: 1vw;
  }

  #lastDotText-desktopDotShow {
    width: 59vw !important;
    padding-left: 1vw;
  }

}
