#desktopDotCard-lastDot-box {
  margin-left: 0;
  border-left: transparent;
  padding: 0 1vh 0 0;
}


#desktopDotCard-lastDot {
  padding: 5vh 0 0 0;
  position: relative;
}


#desktopDotCard-lastDot-col-connectLine {
  width: 4vw;
  position: relative;
  float: left;
  text-align: center;
  border-left: 8px dashed #FFFFFF;
  padding-top: 21vh;
  margin-top: -11vh;
  border-bottom: 8px dashed #FFFFFF;
}

#desktopDotCardImg {
  padding: 0;
  height: 26vw;
  border-radius: 50%;
  width: 26vw;
  background-size: cover;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  border: #e5e5e5 solid 2px;
}

#lastDotText-desktopDotShow h4, #lastDotText-desktopDotShow h5  {
  margin: 3px 0 0 0;
}

#desktopDotCard-lastDotButtons {
  padding: 0 0 7vh 0;
  text-align: center;
}

#desktopDotCard-lastDotButtons i {
  margin-top: .2em;
}

#share-Q-modal-desktop .modal-footer {
  text-align: center;
}

#share-Q-modal-desktop button {
  width: 20%;
}

