#mobileDotCard-lastDot-box {
  margin-left: 1vw;
  border-left: transparent;
  padding: 0 1vh 0 0;
}


#mobileDotCard-lastDot {
  padding: 13vh 0 7vh 0;
  position: relative;
}


#mobileDotCard-lastDot-col-connectLine {
  width: 5vw;
  position: relative;
  float: left;
  text-align: center;
  border-left: 2px dashed #e5e5e5;
  padding-top: 20vh;
  margin-top: -12vh;
  border-bottom: 2px dashed #e5e5e5;
}
