<template name="footer">

<!--<div>-->

    <!--{{#if currentUser}}-->

        <!--<div class="contectUs">-->

            <!---->

        <!--</div>-->

    <!--{{/if}}-->

<!--</div>-->


    <nav id="signUp-nav-bar" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!--<div class="navbar-header">-->

    {{#if iAmAHotel}}

                <div class="col-xs-8">
                   <h5>Help your guests to Plan their trip</h5>
                   <h5>with your recommendations via Dotz.</h5>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary navbar-btn navbar-right">Start Now</button>
                </div>

    {{/if}}


                <!--</div>-->
            </div>
        </nav>


</template>
