<template name="guideLanding">

    <head>
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300' rel='stylesheet' type='text/css'>
    </head>

    <div id="landingPageGuide-body" class="container-fluid">
        <div class="landingPageGuide-overlayer"></div>


        <div class="row">
            <div id="landingPageGuide-header" class="col-sm-8 colCenter txtMd">
                <h2 id="landingPageGuide-title" class="text-center">Discover how to start your startup</h2>
            </div>
        </div>

        <div id="landingPageGuide-main" class="row">
            <div id="landingPageGuide-questions2" class="col-sm-7 col-sm-offset-2">
                <p id="landingPageGuide-questions" class="text-left">

                    I

                    <!--<div class="btn-group">-->
                        <!--<button type="button" id="quest1" class="btn btn-default btn-trans btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--Have <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a class="selectedAnswer" href="#" data-value="Have">Have</a></li>-->
                            <!--<li><a href="#" data-value="Haven't got">Haven't got</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="quest1" class="selectpicker form-control" data-live-search="true">
                                <option>Have</option>
                                <option>Haven't got</option>
                            </select>
                        </div>
                    </form>

                    an awesome idea and I'm working on it

                    <!--<div class="btn-group">-->
                        <!--<button type="button" id="quest1" class="btn btn-default btn-trans btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--by myself <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">by myself</a></li>-->
                            <!--<li><a href="#">with friends</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="quest2" class="selectpicker form-control" data-live-search="true">
                                <option>by myself</option>
                                <option>with friends</option>
                            </select>
                        </div>
                    </form>

                    . Currently it's

                    <!--<div class="btn-group">-->
                        <!--<button type="button" id="quest1" class="btn btn-default btn-trans btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--a prototype <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">just an idea</a></li>-->
                            <!--<li><a href="#">on research / validation</a></li>-->
                            <!--<li><a href="#">a prototype</a></li>-->
                            <!--<li><a href="#">on the market</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="quest3" class="selectpicker form-control" data-live-search="true">
                                <option>a prototype</option>
                                <option>just an idea</option>
                                <option>on research / validation</option>
                                <option>on the market</option>
                            </select>
                        </div>
                    </form>

                    , and I'm ready to work on it on a

                    <!--<div class="btn-group">-->
                        <!--<button type="button" id="quest1" class="btn btn-default btn-trans btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--full <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">full</a></li>-->
                            <!--<li><a href="#">part</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="quest4" class="selectpicker form-control" data-live-search="true">
                                <option>full</option>
                                <option>part</option>
                            </select>
                        </div>
                    </form>

                    time basis.

                    <br><br>

                    Hopefully, with the combination of the my skill set (

                    <!--<div class="btn-group">-->
                        <!--<button type="button" id="quest1" class="btn btn-default btn-trans btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--Tech <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Tech</a></li>-->
                            <!--<li><a href="#">BizDev</a></li>-->
                            <!--<li><a href="#">Marketing</a></li>-->
                            <!--<li><a href="#">Product</a></li>-->
                            <!--<li><a href="#">Ux/Ui</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="quest5" class="selectpicker form-control" data-live-search="true">
                                <option>Tech</option>
                                <option>BizDev</option>
                                <option>Marketing</option>
                                <option>Product</option>
                                <option>Ux/Ui</option>
                            </select>
                        </div>
                    </form>

                    ) and the right guidance - the sky is the limit.

                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-8 colCenter text-right">
                <button class="btn btn-default btn-md">Guide me</button>
            </div>
        </div>


    </div>

</template>
