<template name="guideLanding">

    <head>
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300' rel='stylesheet' type='text/css'>
    </head>

    <div id="landingPageGuide-body" class="container-fluid">
        <div class="landingPageGuide-overlayer"></div>


        <div class="row">
            <div id="landingPageGuide-header" class="col-sm-8 colCenter txtMd">
                <h2 id="landingPageGuide-title" class="text-center">Discover how to start your startup</h2>
            </div>
        </div>

        <div id="landingPageGuide-main" class="row">
            <div id="landingPageGuide-questions2" class="col-sm-7 col-sm-offset-2">
                <p id="landingPageGuide-questions" class="text-left">

                    I have an awesome

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="businessType" class="form-control" data-live-search="true">

                                <option value="0" selected="selected">B2B</option>
                                <option value="1">B2C</option>

                            </select>
                        </div>
                    </form>

                    idea and I'm working on it

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="meOrFriends" class="form-control" data-live-search="true">

                                <option value="0" selected="selected">by myself</option>
                                <option value="1">with friends</option>

                            </select>
                        </div>
                    </form>

                    Currently it's

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="ideaStage" class="form-control" data-live-search="true">

                                <option value="0" selected="selected">just an idea</option>
                                <option value="1">on research</option>
                                <option value="2">a prototype</option>
                                <option value="3">on the market</option>

                            </select>
                        </div>
                    </form>

                    , and I'm ready to work on it on a

                    <form class="form-inline">
                        <div class="input-group">
                            <select id="fullOrPartTime" class="form-control" data-live-search="true">

                                <option value="0" selected="selected">full</option>
                                <option value="1">part</option>

                            </select>
                        </div>
                    </form>

                    time basis.

                    <br><br>

                    Hopefully, with the combination of my skill set (

                    <dl class="dropdown1">

                        <dt>
                            <a id="multiSelect">
                                <span class="hida">Tech, BizDev</span>
                                <p id="skillSet" class="multiSel"></p>
                            </a>
                        </dt>

                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                    <li>
                                        <input type="checkbox" value="Tech" />Tech</li>
                                    <li>
                                        <input type="checkbox" value="BizDev" />BizDev</li>
                                    <li>
                                        <input type="checkbox" value="Marketing" />Marketing</li>
                                    <li>
                                        <input type="checkbox" value="Product" />Product</li>
                                    <li>
                                        <input type="checkbox" value="Ux/Ui" />Ux/Ui</li>
                                </ul>
                            </div>
                        </dd>

                    </dl>

                    ) and the right guidance - the sky is the limit.

                </p>
            </div>

        </div>

        <div id="actionLandingGuide" class="row">


            <div class="col-sm-4 colCenter">

              {{>signup}}

              <div class="or-wrapper txtMd ">
                  <a id='noIdeaConnect' role="button">
                      <span  class="txtMd smTxt lightGrey"><p><u>Haven't got an idea? check this out</u></p></span>
                  </a>
              </div>

            </div>

            <div id="exploreGuideBtn-div" class="row exploreGuideBtn-div">
              <div id="_exploreGuideBtn" class="text-right">
                <a href="/the-guide">
                 <span>Explore</span>
                </a>
              </div>
            </div>


        </div>


    </div>

</template>
