<template name="collectionShow">
<!--{{#with data}}-->




          <!--<div>-->
              <!--<div class="row user-profile-cards">-->
                  <!--<div class="col-xs-12">-->









                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">

                        <div class="cardHeader">
                            <!--<img src="assets/img/lifestyle-8.jpg"/>-->
                            <!--<div class="filter"></div>-->



                            <div class="container-fluid dot-container-img-card-grid" style="background-image: url('https://dotz-tlv-development.s3.amazonaws.com/33nkhiBnh3eWh7sbo/city-dotz.jpg')">
                                <div class="row" >
                                  {{#if dotzNum}}
                                      <div id="round-overlay-mobile"></div>
                                      <div class="dotConnectedDotzLastIcon">
                                          <div class="innerDotlengh-upper txtMd"><span>{{dotzNum}}</span></div>
                                          <div class="innerDotlengh-lower txtMd"><span>{{dotOrDotz}}</span></div>
                                      </div>
                                  {{/if}}

                                </div>
                            </div>



                            <!--<div class="actions">-->
                            <!--<button class="btn btn-round btn-fill btn-neutral btn-modern">-->
                            <!--Read Article-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>

                        <div class="content">
                            <!--<h6 class="category">News</h6>-->
                            <h4 class="title"><a href="#">{{dot.title}}</a></h4>
                            <!--<p class="description" id="des1">When selling products it's always a good idea to go with commanding.</p>-->

                          {{#if dot.location.address}}
                              <span class="txtL dot-type">
                                                        <img id="type-icon" src="/place-icon-grey.png">
                                                        <span class="greyText smTxt">{{dot.location.address}}</span>
                                                    </span>
                          <br>
                          {{/if}}

                          {{#if eventDate}}
                              <span class="txtL dot-type">
                                                        <img id="type-icon" src="/event-icon-grey.png">
                                                        <span class="greyText smTxt">{{eventDate}}</span>
                                                    </span>
                          <br>
                          {{/if}}

                          {{#if dot.price}}
                              <span class="txtL dot-type">
                                                        <img id="type-icon" src="/price-icon-grey.png">
                                                        <span class="greyText smTxt">{{dot.price}} <span>$</span></span>
                                                    </span>
                          {{/if}}



                        </div>

                        <!--<div class="row cardPersonalDesc">-->
                            <!--<div class="col-xs-12">-->

                              <!--{{#if dot.location.address}}-->
                                  <!--<span class="txtL dot-type">-->
                                                        <!--<img id="type-icon" src="/place-icon-grey.png">-->
                                                        <!--<span class="greyText smTxt">{{dot.location.address}}</span>-->
                                                    <!--</span>-->
                              <!--{{/if}}-->

                              <!--{{#if eventDate}}-->
                                  <!--<span class="txtL dot-type">-->
                                                        <!--<img id="type-icon" src="/event-icon-grey.png">-->
                                                        <!--<span class="greyText smTxt">{{eventDate}}</span>-->
                                                    <!--</span>-->
                              <!--{{/if}}-->

                              <!--{{#if dot.price}}-->
                                  <!--<span class="txtL dot-type">-->
                                                        <!--<img id="type-icon" src="/price-icon-grey.png">-->
                                                        <!--<span class="greyText smTxt">{{dot.price}} <span>$</span></span>-->
                                                    <!--</span>-->
                              <!--{{/if}}-->

                            <!--</div>-->
                        <!--</div>-->



                        <hr>

                        <div class="footer">

                            <div class="author">

                                <!--<a class="card-link" href="#">-->

                                    <!--<img src="assets/img/default-avatar.png" alt="..." class="avatar">-->

                                    <!--<span> Alex Paduraru</span>-->

                                <!--</a>-->

                                <button type="button" class="like btn btn-delete round btn-sm "><i class="fa fa-heart"></i></button> 341

                            </div>

                            <div class="stats pull-right">

                                <!--<a href="#">-->

                                    <!--<i class="fa fa-heart"></i> 341-->

                                <!--</a>-->

                                <button type="button" class="connect btn btn-success round btn-sm "><i class="fa fa-plus"></i>
                                    Connect {{connectCounter}}</button>

                                <button type="button" class="disConnect btn btn-delete round btn-sm"><i class="fa fa-minus"></i></button>


                            </div>

                        </div>




                    </div> <!-- end card -->
                </div>















    <!--<div class="card">-->

        <!--<div class="image">-->

            <!--<img src="https://dotz-tlv-development.s3.amazonaws.com/33nkhiBnh3eWh7sbo/city-dotz.jpg" alt="..."/>-->

            <!--&lt;!&ndash;<div class="filter filter-white">&ndash;&gt;-->

            <!--&lt;!&ndash;<button type="button" class="btn btn-default btn-simple">&ndash;&gt;-->

            <!--&lt;!&ndash;<i class="fa fa-image"></i> Preview&ndash;&gt;-->

            <!--&lt;!&ndash;</button>&ndash;&gt;-->

            <!--&lt;!&ndash;<button type="button" class="btn btn-success btn-simple">&ndash;&gt;-->

            <!--&lt;!&ndash;<i class="fa fa-check"></i> Publish&ndash;&gt;-->

            <!--&lt;!&ndash;</button>&ndash;&gt;-->

            <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple">&ndash;&gt;-->

            <!--&lt;!&ndash;<i class="fa fa-times"></i> Delete&ndash;&gt;-->

            <!--&lt;!&ndash;</button>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->

        <!--<div class="content">-->

            <!--<p class="category">Latest from <a href="">Best Stories</a></p>-->

            <!--<a href="#">-->

                <!--<h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here </h4>-->

            <!--</a>-->

            <!--<a href="#">-->

                <!--<p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>-->

            <!--</a>-->

            <!--<div class="footer">-->

                <!--<div class="author">-->

                    <!--<a class="card-link" href="#">-->

                        <!--<img src="https://dotz-tlv-development.s3.amazonaws.com/33nkhiBnh3eWh7sbo/dotz.jpg" alt="..." class="avatar">-->

                        <!--<span> Alex Paduraru</span>-->

                    <!--</a>-->

                <!--</div>-->

                <!--<div class="stats pull-right">-->

                    <!--<a href="#">-->

                        <!--<i class="fa fa-comments"></i> 89-->

                    <!--</a>-->

                <!--</div>-->

                <!--<div class="stats pull-right">-->

                    <!--<a href="#">-->

                        <!--<i class="fa fa-heart"></i> 341-->

                    <!--</a>-->

                <!--</div>-->

            <!--</div>-->

        <!--</div>-->

    <!--</div>-->









                          <!--{{#each dotzConnectedByOwner}}-->
                      <!--{{>dotCard}}-->
                    <!--{{/each}}-->

                    <!--{{#if emptyMix}}-->
                        <!--<h4>{{user.username}} Still didn't had a chance to upload a mix</h4>-->
                    <!--{{/if}}-->



                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->




<!--{{/with}}-->

</template>
