.modal-header {
  padding: 0 1em;
  margin: 1em 0;
}

#mobileConnectDotModal-mobileDotCard-col-text {
  width:56vw;
  padding-top: 1vw;
  position: relative;
  min-height: 28vw;
  /*padding-right: 15px;*/
  margin: auto;
  float: left;
}


.dot-img-connect-modal {
  height: 9em;
  width: 9em;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border-radius: 50%;
  background-color: #eee;
}

.chosen-dot-dot-modal {
  margin-bottom: 1em;
}

.modal-body textarea {
  width: 100%;
}

.userDetails-dot-modal {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.userImgIcon-dot-modal {
  height: 1.25em;
  width: 1.25em;
  border-radius: 50%;
}

.username-dot-modal {
  font-size: 0.75em;
}

.ConnectedByOwnerDotz-div {
  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.dot-container-img-card-connect-modal {
  position: relative;
  width: 3em;
  height: 3em;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  border-radius: 50%;
}

.ConnectedByOwnerDotz {
  padding: 0.5em;
  border-bottom: #F3F3F3 solid 1px;
}

.ConnectedByOwnerDotz:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.dotTitle-connect-modal {
  font-weight: 600;
  /*margin: 0;*/
}

.publishHere {
  display: none;
}

.visible-xs .publishHere {
  display: block;
}

.ConnectedByOwnerDotz:hover .publishHere {
  display: block;
}

.connectBtn, .createToBtn, .connectToUserProfile, .publishHere  {
  margin-top: 0.5em;
  height: 4vh;
  width: auto;
  padding: 0 1em;
}

.checkBtn  {
  margin-top: 0.75em;
  width: 100%;
}

.nested-dotz {
  background-color: #ffffff;
}

.nested-dotz .ConnectedByOwnerDotz {
  background-color: #eeeeee;

}

.nested-dotz .ConnectedByOwnerDotz:hover {
  background-color: #cccccc;
}


.ConnectedByOwnerDotz-div ::-webkit-scrollbar {
  width: 8px;
}

.ConnectedByOwnerDotz-div ::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}

.ConnectedByOwnerDotz-div ::-webkit-scrollbar-track {
  background:transparent;
  border-radius:10px;
}

.ConnectedByOwnerDotz-div ::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.67);
  border: thin solid rgba(128, 128, 128, 0.67);
  border-radius:10px;
}

.ConnectedByOwnerDotz-div ::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 125, 125, 0.76);
}


.ConnectedByOwnerDotz .connectBtnsDiv {
  padding-left: 0;
}
