<template name="signup">

    <div class="col-xs-12 colCenter">

      <form id="signup" class="signup">


          <!--<button id="loginFacebookBtn" class="loginWithBtn btn-facebook btn btn-primary">-->
          <!--Login with Facebook-->
          <!--</button>-->

          <!--<button id="loginGoogleBtn" class="loginWithBtn insert btn  btn-primary">-->
          <!--Login with Google-->
          <!--</button>-->

          <!--<button id="loginTwitterkBtn" class="loginWithBtn insert btn  btn-primary">-->
          <!--Login with Twitter-->
          <!--</button>-->

          <!--<span class="or-wrapper">-->
          <!--<span class="or-text greyText">or</span>-->
          <!--</span>-->

        <br>

        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="userName" class="form-control" placeholder="User Name">
        </div>

        <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group txtMd">
          <!--<input type="submit" class="btn signupBtn" value="Sign Up">-->
          {{#if isSpinnerOn}}
              <button id="signUpButton" type="submit" class="createBtn transparent insert btn  btn-primary has-spinner active">
                  <span class="spinner"><i class="fa fa-spinner lightGrey fa-spin-custom"></i></span>Sign Up</button>
          {{else}}
              <button id="signUpButton" type="submit" class="createBtn insert btn  btn-primary">Sign Up</button>
          {{/if}}
        </div>

      </form>

      <p class="greyText smTxt txtMd">Already have an account? <a id="switch-login-modal" href="#">Log In</a>.</p>

    </div>


</template>


