#connectTheDot-Box {
  margin: 2vh 0 0vh 0;
}


#primary_file_button {
  position: absolute;
  bottom: 0;
  right: -44px;
  background: #fff;
  color: rgba(0,0,0,.35);
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  height: 42px;
  width: 44px;
  line-height: 42px;
  min-height: 42px!important;
  max-height: 10pc!important;
  padding: 0;
  text-align: center;
  -webkit-transition: background 50ms,color 50ms;
  -moz-transition: background 50ms,color 50ms;
  transition: background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 0px 6px 6px 0px;
}

#message-input {
  background: #fff;
  width: 100%;
  font-size: 15px;
  line-height: 1.2rem;
  border: 2px solid #E0E0E0;
  border-right: none;
  background-clip: padding-box;
  font-family: Slack-Lato,appleLogo,sans-serif;
  margin: 0;
  color: #3d3c40;
  -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  min-height: 42px!important;
  padding: 9px 40px 9px 8px;
  max-height: 10pc!important;
  resize: none!important;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 6px 0 0 6px;
}

.boxToModal {
  height: 100vh;
  /*padding-top: 5vh;*/
  /*overflow: auto;*/
}

.connectorProfileImage-connectTheDot-Desktop {
  height: 4vh;
  width: 4vh;
  border-radius: 3px;
}

.textBoxForConnect {
  height: 4.5vh;
  border: 2px solid #E0E0E0;
}

#connectTheDot-Box .form-control-feedback{
  top: 25%;
}


.btn-circleDotTypeIcon2 {
-moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  padding: 0;
}

.btn-circleDotTypeIcon2 #addDotImageWraper .btn-file{
  border: none;
  border-radius: inherit;
  padding: initial;
  float: right;
  color: #E5E5E5;
}

.btn-circleDotTypeIcon2 .fa {
  font-size: 1.5vw;
  vertical-align: initial;
  /*text-align: center;*/
}

.nav-pills .active .btn-circleDotTypeIcon2 {
  /*background-color: #ffffff;*/
  color: #333;
}

.nav-pills .btn-circleDotTypeIcon2:hover #addDotImageWraper .btn-file{
  background-color: #ffffff;
  color: #333;
}

.nav-pills .btn-circleDotTypeIcon2 {
  text-align: center;
  background-color: transparent;
  color: #e5e5e5;
  border: none;
}

.nav-pills .btn-circleDotTypeIcon2:hover {
  background-color: transparent;
  color: #333;
  border: none;
}

#typesAndSearch-div .nav-pills > li + li {
  margin-left: 0;
}

#closeBtnModal {
  position: absolute;
  top: 3vh;
  left: 3vh;
  font-size: 36px;
  color: #ddd;
  cursor: pointer;
}
