#connectTheDot-Box {
  margin: 2vh 0 0vh 0;
}

.boxToModal {
  height: 100vh;
  /*padding-top: 5vh;*/
  /*overflow: auto;*/
}

.connectorProfileImage-connectTheDot-Desktop {
  height: 4vh;
  width: 4vh;
  border-radius: 3px;
}

.textBoxForConnect {
  height: 4.5vh;
}

#connectTheDot-Box .form-control-feedback{
  top: 25%;
}


.btn-circleDotTypeIcon2 {
-moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  padding: 0;
}

.btn-circleDotTypeIcon2 #addDotImageWraper .btn-file{
  border: none;
  border-radius: inherit;
  padding: initial;
  float: right;
  color: #E5E5E5;
}

.btn-circleDotTypeIcon2 .fa {
  font-size: 1.5vw;
  vertical-align: initial;
}

.nav-pills .active .btn-circleDotTypeIcon2 {
  background-color: #ffffff;
  color: #333;
}

.nav-pills .btn-circleDotTypeIcon2:hover #addDotImageWraper .btn-file{
  background-color: #ffffff;
  color: #333;
}

.nav-pills .btn-circleDotTypeIcon2 {
  text-align: left;
  background-color: transparent;
  color: #e5e5e5;
  border: none;
}

.nav-pills .btn-circleDotTypeIcon2:hover {
  background-color: transparent;
  color: #333;
  border: none;
}

#typesAndSearch-div .nav-pills > li + li {
  margin-left: 0;
}

#closeBtnModal {
  position: absolute;
  top: 3vh;
  left: 3vh;
  font-size: 36px;
  color: #ddd;
  cursor: pointer;
}
